.ui-helper-hidden-accessible {
    display: none;
}

#calculator {
    margin: 50px 0 0 0;
}

#calculator, .modal {
    color: #949494;
}

#calculator select {
    padding: 6px;
    vertical-align: middle;
    margin: -3px 6px 0;
    /*border: 1px solid #949494;*/
    font-size: 15px;
    /*color: #000;*/
    /*background: #fff;*/
}

.block_3d {
    text-align: center;

    margin: 0 50px 50px 50px;
    padding: 55px 47px 50px 47px;

    -webkit-box-shadow: 0px 14px 50px 0px rgba(93,95,101,0.2);
    -moz-box-shadow: 0px 14px 50px 0px rgba(93,95,101,0.2);
    box-shadow: 0px 14px 50px 0px rgba(93,95,101,0.2);

    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;

    font-size: 18px;
    line-height: 1.3em;
}

#calculator .block_3d p,
#calculator .block_3d .paragraph {
    margin-bottom: 1em;

    line-height: 1.3em;
    font-size: 16px;
}

#calculator .block_3d .gap {
    margin-bottom: 2em;
}

#calculator .block_3d .top_gap {
    margin-top: 2em;
}

#calculator .block_3d .full_row {
    margin-left: -47px;
    margin-right: -47px;
}

#calculator > div {
    display: none;
}

#calculator .step1 {
    display: block;
}

#calculator .black {
    color: #464646;
}

.block_3d h1 {
    font-size: 36px;
    text-transform: none;
    color: #333333;
    margin-left: 0;
    padding-bottom: 0.3em;
}

#calculator .price_panel p {
    margin-bottom: 0;
}

#calculator .textarea {
    margin-top: -0.5em;
}

#calculator .textarea textarea {
    width: 500px;
    height: 200px;
    padding: 5px 10px;
}

#calculator input[type="number"],
#calculator textarea {
    background: #fafafa;
    border: 1px solid #fafafa;
    font-family:arial, verdana, tahoma!important;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    outline: 0;
    color: #949494;
}

#calculator p.sub-header {
    margin-top: 2em;
}

#calculator p.help {
    font-size: 14px;
    font-style: italic;
}

#calculator h1.tall {
    padding-bottom: 0.6em;
}

#calculator .label {
    color: #464646;
}

#calculator .button_select {
    margin: 1em 0;
}

a.button {
    display: inline-block;
    width: 102px;
    padding: 4px 11px;
    height: 38px;
    text-transform: uppercase;
    font-size: 14px;
    color: #949494;
    border-radius: 3px;
    background: #fafafa;
    margin: 0 3px 0 3px;
    text-align: center;
}

#calculator .button_select a:last-child {
    margin-right: 0;
}

#calculator .button_select a:first-child {
    margin-left: 0;
}

#calculator .step1_selector a {
    line-height: 40px;
    vertical-align: middle;
}

#calculator .step1_selector a span {
    line-height: 12px;
    vertical-align: middle;
    display: inline-block;
}

#calculator .step1_selector a:hover,
#calculator .step1_selector a.selected {
    color: white;

    background: -moz-linear-gradient(117deg, rgba(195,35,41,1) 0%, rgba(234,166,45,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(234,166,45,1)), color-stop(100%, rgba(195,35,41,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(117deg, rgba(195,35,41,1) 0%, rgba(234,166,45,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(117deg, rgba(195,35,41,1) 0%, rgba(234,166,45,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(117deg, rgba(195,35,41,1) 0%, rgba(234,166,45,1) 100%); /* ie10+ */
    background: linear-gradient(333deg, rgba(195,35,41,1) 0%, rgba(234,166,45,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaa62d', endColorstr='#c32329',GradientType=0 ); /* ie6-9 */
}

#calculator .step1_selector a:active {
    -webkit-box-shadow: 0px 0px 16px 4px rgba(234,166,45,0.21);
    -moz-box-shadow: 0px 0px 16px 4px rgba(234,166,45,0.21);
    box-shadow: 0px 0px 16px 4px rgba(234,166,45,0.21);
}

.js_data {
    display: none;
}

a.iconed-button img,
a.iconed-button img.selected_img {
    height: 32px;
    width: 32px;
}

a.iconed-button img.selected_img {
    display: none;
}

a.iconed-button {
    height: 80px;
    padding: 10px 11px;

    vertical-align: top;

    display: block;
    float: left;

    font-size: 14px;
    text-transform: none;
}

#calculator .iconed_buttons .viewport {
    /*height: 120px;*/
}

a.iconed-button .bottom {
    display: block;
    line-height: 48px;
    vertical-align: middle;
}

a.iconed-button .title {
    line-height: 15px;
    vertical-align: middle;
    display: inline-block;
}

a.iconed-button:hover,
a.iconed-button.selected,
.selected_buttons a.iconed-button,
a.iconed-button.ui-sortable-helper {
    border: 1px solid #eaa62d;
    padding: 9px 10px;
    color: #333333;
}

a.iconed-button:hover img,
a.iconed-button.selected img,
.selected_buttons a.iconed-button img,
a.iconed-button.ui-sortable-helper img {
    display: none;
}

a.iconed-button:hover img.selected_img,
a.iconed-button.selected img.selected_img,
.selected_buttons a.iconed-button img.selected_img,
a.iconed-button.ui-sortable-helper img.selected_img {
    display: inline;
}

.scroll_panel .empty_message {
    display: none;

    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
}

.block_3d .scroll_panel .empty_message p {
    font-size: 0.8em;
}

.scroll_panel.empty .empty_message {
    display: block;
}

#calculator .scroll_panel {
    position: relative;

    padding-left: 47px;
    padding-right: 47px;
}

#calculator .viewport {
    overflow: auto;
    position: relative;
    -ms-overflow-style: none;
}

#calculator .viewport::-webkit-scrollbar {
    display: none;

}

#calculator .scroll_panel .scroll_zone {
    overflow: hidden;
    position: relative;
    height: 100px;
}

#calculator .scroll_panel.target .viewport_wrapper {
    /*height: 120px;*/
    padding: 5px 5px;
    background: #fafafa;
}

#calculator .viewport_wrapper {
    height: 100px;
    overflow: hidden;
}

#calculator .scroll_panel .arrow {
    position: absolute;
    height: 100px;
    width: 50px;
    display: none;

    cursor: pointer;
}

#calculator .scroller {
    display: none;
    height: 3px;
    padding: 4px 0;
    margin-top: 20px;
    position: relative;

    cursor: pointer;
}

#calculator .scroller:before {
    height: 3px;
    background: #e0e0e0;
    display: block;
    content: ' ';
}

#calculator .scroller .dragger {
    cursor: pointer;
    background: #c3242a;
    height: 7px;
    position: absolute;
    top: 2px;
}

#calculator .scroll_panel .arrow.disable {
    cursor: default;
}

#calculator .scroll_panel .left_arrow {
    left: 0;
    background: url(/media/static/calculator/img/scroll-panel/left-arrow.png) center center no-repeat;
}

#calculator .scroll_panel .left_arrow:active {
    background-image: url(/media/static/calculator/img/scroll-panel/left-arrow-selected.png);
}

#calculator .scroll_panel .left_arrow.disable,
#calculator .scroll_panel .left_arrow.disable:active {
    background-image: url(/media/static/calculator/img/scroll-panel/left-arrow-disabled.png);
}


#calculator .scroll_panel .right_arrow {
    right: 0;
    background: url(/media/static/calculator/img/scroll-panel/right-arrow.png) center center no-repeat;
}

#calculator .scroll_panel .right_arrow:active {
    background-image: url(/media/static/calculator/img/scroll-panel/right-arrow-selected.png);
}

#calculator .scroll_panel .right_arrow.disable,
#calculator .scroll_panel .right_arrow.disable:active {
    background-image: url(/media/static/calculator/img/scroll-panel/right-arrow-disabled.png);
}

.ui-tooltip {
    width: 400px;
    background: #fef7da;
    color: #949494;
    z-index: 1000;
    border-radius: 4px;
}

.ui-tooltip.small {
    text-align: center;
    width: 200px;
}

.ui-tooltip-content:after {
    content: " ";
    top: -10px;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    border-style: solid;
    width: 0;
    border-color: #fef7da transparent;
    border-width: 0 10px 10px;
}

.ui-tooltip-content {
    position: relative;
    padding: 15px 19px;
}

#calculator .additional_intruments.slider {
    margin-bottom: 1em;
}

#calculator .slider {
    font-size: 14px;

    padding: 4px 0;
    position: relative;
    height: 56px;

    margin-top: 1em;
    margin-bottom: 2em;

    cursor: pointer;
}

#calculator .slider_panel {
    position: relative;
    height: 42px;
}

#calculator .slider.integer .slider_panel,
#calculator .slider.integer .manual_input {
    position: absolute;
}

#calculator .slider.integer .slider_panel {
    width: 670px;
}

#calculator .slider.integer .manual_input {
    width: 115px;
    right: 0;
    top: -15px;
}

#calculator input {
    padding: 10px 0;
    width: 100px;
}

#calculator .manual_input input {
    width: 100%;
}

#calculator .slider.integer .manual_input label {
    padding: 8px 0 0 0;
    display: block;
}

#calculator .slider.integer .manual_input input:focus {
    border-color: #eaa62d;
    color: #eaa62d;
}

#calculator .slider_panel:before {
    height: 3px;
    background: #e0e0e0;
    display: block;
    content: ' ';
}

#calculator .slider_panel .ui-slider-handle {
    background: #c3242a;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    margin-left: -9px;
    top: -8px;

    position: absolute;
    outline: none;
}

#calculator .slider_panel .ui-slider-handle:after {
    content: ' ';
    background: white;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    top: 6px;
    left: 6px;
    position: absolute;
}

#calculator .slider_panel .titles {
    height: 34px;
    position: relative;
}

#calculator .slider_panel .title {
    position: absolute;
    width: 150px;
    margin-left: -75px;
    padding: 10px 0 0 0;
    line-height: 1.3em;
}

#calculator .slider_panel .title.first {
    text-align: left;
    margin-left: 0;
}

#calculator .slider_panel .title.last {
    right: 0;
    margin-left: 0;
    text-align: right;
}

#calculator .show_more a.open {
    color: #eaa62d;
    border-bottom: 1px dashed #eaa62d;
}

#calculator .show_more .hidden_panel {
    display: none;
    padding: 1.5em 0 0 0;
}

#calculator .checkbox {
    position: relative;
    display: inline-block;
    /*vertical-align: middle;*/
    padding: 3px 0 0 0;
    cursor: pointer;
}

#calculator .checkbox:after {
    content: ' ';
    clear: both;
}

#calculator .checkbox .panel {
    width: 28px;
    height: 20px;
    border-radius: 10px;
    float: left;
    margin: 0 20px 6px 0;
    background: #eeeff3;
}

#calculator .checkbox .panel,
#calculator .checkbox .circle {
    transition: all 300ms;
}

#calculator .checkbox .circle {
    width: 24px;
    height: 24px;
    border-radius: 13px;
    position: absolute;
    border: 1px solid #eeeff3;
    background: white;
    top: 0;
    left: -13px;

    -webkit-box-shadow: 0px 3px 7px 0px rgba(125,129,137,0.15);
    -moz-box-shadow: 0px 3px 7px 0px rgba(125,129,137,0.15);
    box-shadow: 0px 3px 7px 0px rgba(125,129,137,0.15);
}

#calculator .checkbox.selected .panel {
    background: #c3242a;
}

#calculator .checkbox.selected .circle {
    left: 15px;
}

#calculator .step1-record .need_tuning {
    margin-right: 40px;
}

#calculator .align_left {
    text-align: left;
}

#calculator .floater {
    padding: 32px 0;
    background: #dfe6e8;
    overflow: hidden;

    -webkit-box-shadow: 0px 14px 50px 0px rgba(55,56,59,0.4);
    -moz-box-shadow: 0px 14px 50px 0px rgba(55,56,59,0.4);
    box-shadow: 0px 14px 50px 0px rgba(55,56,59,0.4);
}

#calculator .price_panel {
    position: relative;
}

#calculator .price_panel .fixed .floater {
    position: fixed;
    bottom: 0;
    width: 1023px;
}

#calculator .price_panel .static .floater {
    position: absolute;
    width: 1023px;
    top: 0;
}

#calculator .price_panel .actual_price,
#calculator .price_panel .discount,
#calculator .price_panel .order {
    float: left;
    width: 40%;
}

#calculator .price_panel .actual_price {
    text-align: right;
    line-height: 40px;
    font-size: 40px;
    color: #c3242a;
    padding: 3px 0;
}

#calculator .price_panel .order {
    text-align: left;
    padding: 3px 0;
    /*padding: 7px 0 0 0;*/
}

#calculator .price_panel .discount {
    width: 20%;
    color: #8f8f8f;
    text-align: center;
    min-height: 10px;
}

#calculator .price_panel .discount .original {
    font-size: 25px;
    position: relative;
}

#calculator .price_panel .discount .strike_diagonal {
    position: relative;
    overflow: hidden;
}

#calculator .price_panel .discount .strike_diagonal:after {
    left: 0;
    right: 0;
    bottom: 14px;
    position: absolute;
    height: 1px;
    background: #ebac41;
    content: ' ';
    transform: rotate(-10deg);
}

#calculator .price_panel .discount .discount_ammount {
    font-size: 15px;
}

#calculator .price_panel .discount .discount_span {
    color: #ebac41;
}

#calculator .price_panel .disabled .discount_display {
    visibility: hidden;
}

#calculator .price_panel .disabled .price_display {
    visibility: hidden;
}

.disabled .order_button {
    pointer-events: none;
    background: linear-gradient(333deg, rgba(195,35,41,0.5) 0%, rgba(234,166,45,0.5) 100%); /* w3c */
}

.order_button {
    display: inline-block;
    padding: 1px 30px;
    height: 38px;
    text-transform: uppercase;
    font-size: 10px;
    border-radius: 3px;

    letter-spacing: 1px;

    line-height: 38px;

    color: white;

    background: -moz-linear-gradient(117deg, rgba(195,35,41,1) 0%, rgba(234,166,45,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(234,166,45,1)), color-stop(100%, rgba(195,35,41,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(117deg, rgba(195,35,41,1) 0%, rgba(234,166,45,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(117deg, rgba(195,35,41,1) 0%, rgba(234,166,45,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(117deg, rgba(195,35,41,1) 0%, rgba(234,166,45,1) 100%); /* ie10+ */
    background: linear-gradient(333deg, rgba(195,35,41,1) 0%, rgba(234,166,45,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaa62d', endColorstr='#c32329',GradientType=0 ); /* ie6-9 */
}

.order_button:active {
    -webkit-box-shadow: 0px 0px 16px 4px rgba(234,166,45,0.21);
    -moz-box-shadow: 0px 0px 16px 4px rgba(234,166,45,0.21);
    box-shadow: 0px 0px 16px 4px rgba(234,166,45,0.21);
}

#calculator .button_multiselect {
    margin: 0 0 1em;
}

#calculator .button_multiselect .source .ui-sortable-placeholder {
    display: none;
}

#calculator .live_instruments_selector {
    margin: 0 0 1.5em;
}

#calculator .arangement_type a {
    float: none;
    display: inline-block;
    margin: 0 20px;
}

#calculator .step1-live .instruments_selector {
    margin-bottom: 2em;
}

#calculator .step1-rent {
    overflow: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.64);
    z-index: 10000;
}

.modal {
    display: none;

    position: fixed;

    padding: 45px 30px 35px 30px;

    top: 200px;
    width: 500px;
    left: 50%;
    margin: 0 0 0 -250px;
    background: white;

    z-index: 11000;
}

.modal .column {
    display: inline-block;
    width: 240px;
    padding: 0 5px;
}

.modal p {
    padding: 0 5px;
}

.modal label {
    display: block;
    text-align: left;
    font-size: 0.9em;
}

.modal input {
    width: 100%;
    padding: 4px;
    font-size: 15px;
    box-sizing: border-box;
}

.modal .paragraph {
    margin: 0 0 1em;
}

.modal .order_p {
    padding: 1em 0 0 0;
}

.modal.success .order_form {
    display: none;
}

.modal.success .order_result {
    display: block;
}

.modal .order_result {
    display: none;
}

.hidden {
    display: none;
}

#mixing_tracks_counter {
    width: 35px!important;
    margin: 0 7px 0 -2px;
}

.mixing_mode_wrapper {
    margin: 0 0 0 40px;
}