{% load cms_tags sekizai_tags %}

{% addtoblock "js" %}
<script>

$(function() {

    $('.toggle').each(function () {
        var $toggle = $(this),
            $toggle_content = $toggle.find('.toggle-content');

        $toggle.find('.toggle-header a').click(function () {
            if ($toggle.hasClass('active')) {
                $toggle_content.slideUp(300);
                $toggle.removeClass('active');
            } else {
                $toggle_content.slideDown(300);
                $toggle.addClass('active');
            }

            return false;
        });
    });
});

</script>
{% endaddtoblock %}


{% if instance.mode == 1 %}
<div class="htmlblock_plugin mode_{{ instance.mode }}">
    <div class="content">
        <h3>{{ instance.header }}</h3>
        <div class="infotext">
            {{ instance.content|safe}}
        </div>
    </div>
</div>
{% endif %}

{% if instance.mode == 2 %}
<div class="htmlblock_plugin mode_{{ instance.mode }}">
    <div class = "toggle">
        <h3 class="toggle-header"><a href="#">{{ instance.header }}</a></h3>
        <div class="toggle-content">
            {{ instance.content|safe }}
        </div>
    </div>
</div>
{% endif %}

{% if instance.mode == 3 %}
<div class="htmlblock_plugin mode_{{ instance.mode }}">
    <div class = "article">
        <h3 class="article-header"><a href="{{ instance.link.get_absolute_url }}">{{ instance.header }}</a></h3>
        <div class="article-content">
            {{ instance.content|safe }}
        </div>
    </div>
</div>
{% endif %}