<div class="iconblock_plugin">
<!--    <h2>{{ instance.header }}</h2> -->
{% for block in instance.iconblock_set.all %}
    {% if forloop.counter0|divisibleby:"5"%}
        {% if not forloop.first %}
        </div>
        {% endif %}
        <div class="row">
    {% endif %}

        <div class="iconblock" align="center">
                {% if block.image_passive %}
                <div class="icon" align="center">
				    {% if block.link %}<a href="{{ block.link }}">{% endif %}
                    <img src="{{ block.image.url }}" alt="{{ block.header }}" title="{{ block.header }}" height="90" class="active"/>
                    <img src="{{ block.image_passive.url }}" alt="{{ block.header }}" title="{{ block.header }}" height="90" class="passive"/>
                    {% if block.link %}</a>{% endif %}
                </div>
                {% else %}
                <div class="icon_solo">
                    {% if block.link %}<a href="{{ block.link }}">{% endif %}
                    <img src="{{ block.image.url }}" alt="{{ block.header }}" title="{{ block.header }}" height="90"/>
                    {% if block.link %}</a>{% endif %}
                </div>
                {% endif %}

            <div class="header">
                {% if block.link %}<a href="{{ block.link }}" style="color: black;">{% endif %}
                    {{ block.header }}
                {% if block.link %}</a>{% endif %}
            </div>
            <!---<div class="text">{{ block.text|safe|linebreaks }}</div> -->
        </div>

    {% if forloop.last %}
        </div>
    {% endif %}
{% endfor %}
</div>