{% load salesblock_tags %}
<div class="offerblock_plugin">
    <div class="header"><h4>{{ instance.header|safe }}</h4></div>
    <div class="gift">
        {{ instance.gift|safe|linebreaks }}
    </div>
    <div class="content">{{ instance.content|safe|linebreaks }}</div>
    <div class="price"><span class="units"><span class="for">от</span></span> {{ instance.priceitem.price|add_separator|safe }} <span class="units"><span class="what"></span><span class="for">{{ instance.unit }}</span></span></div>
    {% if instance.page %}
    <a href="{{ instance.page.get_absolute_url }}">
        <div class="more">Подробнее</div>
    </a>
    {% endif %}
</div>