{% load cms_tags %}
{% with total=instance.child_plugin_instances|length %}
<div class="offerblockcategory_plugin{% if total > 3 %} narrow{% endif %}">
    <h2>{{ instance.header }}</h2>
    <div class="offerblocks_wrapper">{% for plugin in instance.child_plugin_instances %}{% render_plugin plugin %}{% endfor %}</div>
</div>
{% endwith %}