{% load application_tags salesblock_tags sekizai_tags %}

<div class="salesblock_plugin">
    <h1>{{ instance.header }}</h1>
    <div class="content">
        {{ instance.content|safe }}
        {% if instance.date_to != None %}
        <div id="timer_{{ instance.id }}">
            <div class="block days">
                <div class="value">{{ remainings.0 }}</div>
                <div class="name">ДНЕЙ</div>
            </div>
            <div class="block hours">
                <div class="value">{{ remainings.1 }}</div>
                <div class="name">ЧАСОВ</div>
            </div>
            <div class="block minutes">
                <div class="value">{{ remainings.2 }}</div>
                <div class="name">МИНУТ</div>
            </div>
            <div class="block seconds">
                <div class="value">{{ remainings.3 }}</div>
                <div class="name">СЕКУНД</div>
            </div>
        </div>

        {% addtoblock "js" %}
        <script type="text/javascript">
            set_timer($('#timer_{{ instance.id }}'), {{ instance.date_to|date:'U' }});
        </script>
        {% endaddtoblock %}
        {% endif %}
        <div class="price">{{ instance.price|price_beauty|safe }}</div>
    </div>

    {% application_form %}
</div>

