{% load cms_tags %}
<div class="videoblockcategory_plugin paginated_line">
    <h1>{{ instance.header }}</h1>

    <div class="wrapper">
        <div class="line">
            {% for plugin in instance.child_plugin_instances %}
                {% if forloop.counter0|divisibleby:"2"%}
                    {% if not forloop.first %}
                    </div>
                    {% endif %}
                    <div class="row">
                {% endif %}

                {% render_plugin plugin %}

                {% if forloop.last %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>