<div class="videoblock_plugin block">
    <div class="left">{{ instance.video_html|safe }}</div>
    <div class="content">
        <h3>{{ instance.header }}</h3>
        {{ instance.content|safe }}
    </div>
</div>