{% load i18n cms_tags thumbnail sekizai_tags %}

{% addtoblock "js" %}<script type="text/javascript" src="/media/js/colorbox/jquery.colorbox-min.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="/media/js/colorbox/i18n/jquery.colorbox-ru.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}
<script type="text/javascript">
$(function() {
	var classname = 'gallery_{{ gallery.id }}';
	$('.'+classname).colorbox({
		rel: classname,
		transition: "fade",
        maxWidth: "95%",
        maxHeight: "95%"
	});
});
</script>
{% endaddtoblock %}

{% addtoblock "css" %}<link href="/media/css/colorbox/colorbox.css" media="screen" rel="stylesheet" type="text/css" />{% endaddtoblock %}

{% render_model_block gallery %}
<div class="gallery_plugin {{ display_type }}">
    <div class="gallery_plugin_wrapper">
        <h2>{{ gallery.title }}</h2>
        <ul class="images">
            {% for image in gallery.get_folder_images %}
                <li class="image"><a class="gallery_{{ gallery.id }}" href="{{ image.file.url }}"><img src="{% thumbnail image.file 150x100 crop upscale %}" title="{{ image.label }}" alt="{{ image.label }}"></a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endrender_model_block %}