{% if success %}
    <div class="application_form"><p class="success">Ваша заявка успешно добавлена</p></div>
{% else %}
    <form class="application_form ajax_form" method="post" action="{% url 'application_submit' %}">
        <p class="header header1">Оставьте заявку</p>
        <p class="header header2">ЗАПИСАТЬСЯ</p>
		

        {% for field in form %}
            <input
                type="text"
                name="{{ field.name }}"
                placeholder="{{ field.label }}"
                {% if field.errors %}class="errors"{% endif %}
                {% if field.value != None %}value="{{ field.value }}"{% endif %}
            />
        {% endfor %}

        <input type="submit" class="post post1" value="Отправить" />
        <input type="submit" class="post post2" value="Я ХОЧУ ДЕШЕВЛЕ" />

        {% csrf_token %}
		
		<div class="certificate">
		<a href="http://friday-records.ru/certificate/" title="Подарочный сертификат в студию звукозаписи" alt="Подарочный сертификат студии звукозаписи"><img src="http://friday-records.ru/media/img/box.png" width="29" height="30" style="position:absolute; left:2%;"> Подарочный Сертификат</a></div>
		
    </form>
{% endif %}