{% if objects %}
    {% load thumbnail %}
    {% load static %}
    <div class="tabs tabs-vert">
      <ul class="tab-nav js-herotabs-nav">
        {% for item in objects %}
        <li class="tab-nav-item js-herotabs-nav-item"><a href="#ex2-tab{{ forloop.counter }}">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
      <div class="tab-container">
        {% for item in objects %}
        <div class="tab-pane js-herotabs-tab" id="ex2-tab{{ forloop.counter }}">
          <img class="slider-image" alt="{{ item.title }}" src="{{ item.photo.url }}">

          <div class="tab-info">
            <a href="{{ item.url }}">{{ item.description|safe }}</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
{% endif %}
