{% if objects %}
{% load thumbnail %}
{% load static %}
    <noindex>
        <link rel="stylesheet" href="{% static 'css/plyr.css' %}">
        <link rel="stylesheet" href="{% static 'css/speckers_block_style.css' %}">
    </noindex>
<table class="men_speakers">
    {% for item in objects %}
        {% if forloop.first %}<tr>{% endif %}
            <td class="item__men_speakers">
                <div class="speaker_block">
                    <div class="speaker_image">
                        <img alt="{{ item.first_name }} {{ item.last_name }}" src="{% thumbnail item.photo 164x164 crop %}">
                    </div>
                    <div class="speaker_name"><span>{{ item.first_name }} </span><span>{{ item.last_name }}</span></div>
                    <div class="speaker_voice_descrption">{{ item.description }}</div>
                    <div class="speaker_player player" >
                        <audio controls id="player_{{ forloop.counter }}" preload="none">
                            <source src="{{ item.example_sound.url }}" type="audio/mp3">
                            <a href="{{ item.example_sound.url }}">Скачать</a>
                        </audio>
                    </div>
                    
                </div>
            </td>
        {% cycle '' '' '' '</tr><tr>'%}
        {% if forloop.last %}{% endif %}
    {% endfor %}
    </table>
        <noindex>
         <script src="{% static 'js/plyr.js' %}"></script>
        <script>
        plyr.setup({
            controls: ['play']
        });
        </script>
        <noindex>
{% endif %}