{% load cms_tags thumbnail sekizai_tags %}

{% addtoblock "js" %}
<script>
    $(function() {
        $('.feedbacks_plugin').each(function(){
            var $feedbacks_plugin = $(this),
                $form = $feedbacks_plugin.find('.feedbackform');

            $feedbacks_plugin.find('.add_button a').click(function() {
                $form.slideToggle();
            });
        });
    });
</script>
{% endaddtoblock %}

<div class="feedbacks_plugin paginated_line">
    <h1>Отзывы</h1>

    <div class="wrapper">
        <div class="line">
            {% for feedback in feedbacks %}
                {% if forloop.counter0|divisibleby:"2"%}
                    {% if not forloop.first %}
                    </div>
                    {% endif %}
                    <div class="row">
                {% endif %}

                <div class="block">
                    <div class="content">
                        <div class="author">{{ feedback.name }}</div>
                        <div class="message">{{ feedback.message|linebreaks }}</div>
                        <p class="date">Опубликовано {{ feedback.added|date:"d F, Y" }}</p>
                    </div>
                </div>

                {% if forloop.last %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="add_feedback">
        <p class="add_button"><a href="#add_feedback">Добавить отзыв</a></p>

        {% include 'feedback/form.html' %}
    </div>
</div>