{% if success %}
    <p class="feedbackform">Ваш отзыв успешно добавлен</p>
{% else %}
    <form class="feedbackform ajax_form" method="post" action="{% url 'feedback.views.submit' %}">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Отправить" class="submit" />
    </form>
{% endif %}