{% load cms_tags %}

<div class="block_3d step1-arangement price_panel_min">
    <h1 class="tall">Аранжировка</h1>

    <p>Если у Вас есть идея для песни, черновик, мелодия или просто текст, то мы можем сделать для Вас аранжировку.
        В первую очередь необходимо определиться, Вас интересует живая аранжировка или электронная?</p>

    <div class="button_select arangement_type price_tracking skip_reset" data-name="arangement_type">
    </div>
</div>

<div class="block_3d step1-electro-arangement">
    <h1 class="tall">Электронная aранжировка</h1>

    <p>
        <label for="quality_input_live_arangement price_tracking">Качество</label>
        <select class="mixing_mode price_tracking" name="mixing_mode" id="quality_input_live_arangement">
            <option value="Эконом">Эконом</option>
            <option value="Стандарт" selected>Стандарт</option>
            <option value="Премиум">Премиум</option>
        </select>
    </p>

    <p class="help">
        Вариант качества «Эконом» - звучание формата караоке, подойдёт для домашнего прослушивания
    </p>
    <p class="help">
        Вариант качества «Стандарт» - звучание высокого качества, подойдёт для большинства целей (выступления, запись альбома, интернет, подарок близкому человеку).
    </p>
    <p class="help">
        Вариант качества «Премиум» - звучание радио-формата
    </p>


</div>


<div class="block_3d step1-live-arangement">
    <h1 class="tall">Живая aранжировка</h1>

    <p class="label">Какие инструменты Вы хотели бы услышать в Вашей аранжировке?</p>
    <p class="help">Нажмите на иконки музыкальных инструментов для переноса в рабочую область</p>

    <div class="button_multiselect instruments_selector full_row price_tracking single_select live_arangement_instruments"
         data-name="instruments_selector">
        <p class="sub-header">В аранжировке будут звучать:</p>
    </div>

</div>


<div class="block_3d step1-arangement-full">
    <h1 class="tall">Количество песен</h1>

    <p class="label">Сколько песен Вы планируете записать?</p>
    <div class="slider songs_counter integer price_tracking" data-name="songs_counter">
        <div class="slider_panel">
            <div class="titles">
                <div class="title">1</div>
                <div class="title">2</div>
                <div class="title">3</div>
                <div class="title">4</div>
                <div class="title">5</div>
                <div class="title">6</div>
                <div class="title">7</div>
                <div class="title">8</div>
                <div class="title">9</div>
                <div class="title">10</div>
                <div class="title">&gt;10</div>
            </div>
        </div>
        <div class="manual_input">
            <input type="number" min="1" id="arangement_songs_counter_input" />
            <label for="arangement_songs_counter_input">Укажите вручную</label>
        </div>
    </div>
</div>

<div class="block_3d step2-arangement-full">
    <h1 class="tall">Сроки</h1>

    <p class="label">Как скоро Вам необходим результат?</p>
    <div class="slider urgency price_tracking" data-name="urgency">
    </div>

    <p class="align_left">
        <span class="checkbox gift_certificate price_tracking" data-name="gift_certificate">Оформить услугу в виде&nbsp</span><span><a href="/certificate/">подарочного сертификата</a></span>
    </p>
    <p class="align_left">
        <span class="checkbox delivery parent_hidden price_tracking" data-name="delivery">Нужна доставка</span>
    </p>
</div>

<div class="block_3d step3-arangement-full">
    <h1 class="tall">Скидка</h1>

    <p>
        <span class="checkbox vip price_tracking" data-name="vip">Есть карта VIP-клиента или скидочный купон?</span>
    </p>
</div>


<div class="block_3d step2-electro-arangement example" data-mixing-mode="Стандарт">
    <h1>Примеры наших работ</h1>

    {% static_placeholder "example-electro-arangement-standart" %}
</div>

<div class="block_3d step3-electro-arangement example" data-mixing-mode="Эконом">
    <h1>Примеры наших работ</h1>

    {% static_placeholder "example-electro-arangement-econom" %}
</div>

<div class="block_3d step4-electro-arangement example" data-mixing-mode="Премиум">
    <h1>Примеры наших работ</h1>

    {% static_placeholder "example-electro-arangement-premium" %}
</div>

<div class="block_3d step2-live-arangement">
    <h1>Примеры наших работ</h1>

    {% static_placeholder "example-live-arangement" %}
</div>