{% load cms_tags %}

<div class="block_3d step1-mixing price_panel_min">
    <h1 class="tall">Сведение и мастеринг</h1>

    <p class="align_left">
        <span class="checkbox selected need_mixing price_tracking" data-name="need_mixing">Сведение</span>
    </p>

    <div class="mixing_mode_wrapper">
        <p class="align_left">
            <input type="number" min="1" value="1" id="mixing_tracks_counter" name="tracks_counter" class="input_integer price_tracking" />
            <label for="mixing_tracks_counter">Количество дорожек в проекте</label>
        </p>
        <p class="align_left">
            <span class="checkbox price_tracking need_tuning" data-name="need_tuning">Нужен тюн вокала</span>
        </p>
        <p class="align_left">
            <span class="checkbox price_tracking need_drum_correction" data-name="need_drum_correction">Нужно выравнивание барабанной партии</span>
        </p>
    </div>

    <p class="align_left">
        <span class="checkbox selected price_tracking need_mastering" data-name="need_mastering">Мастеринг</span>
    </p>

{#    <p class="align_left">#}
{#        <label for="mixing_mixing_mode">Режим сведения</label>#}
{#        <select class="mixing_mode tooltip price_tracking" name="mixing_mode" id="mixing_mixing_mode" title="#}
{#        Стандарт - сведение выполняется звукорежиссером самостоятельно по присланным примерам и референсам.#}
{#        Предусмотрено не более 2-х итераций переделывания по замечаниям клиента.<br><br>#}
{#        Премиум - сведение выполняется звукорежиссером совместо с клиентом на студии.#}
{#        Предусмотрено не более 2-х встреч на студии и не более 4-х итераций переделывания по замечаниям.">#}
{#            <option value="Стандарт">Стандарт</option>#}
{#            <option value="Премиум">Премиум</option>#}
{#        </select>#}
{#    </p>#}
</div>


<div class="block_3d step2-mixing">
    <h1 class="tall">Количество песен</h1>

    <p class="label">Сколько песен вы планируете записать?</p>
    <div class="slider songs_counter integer price_tracking" data-name="songs_counter">
        <div class="slider_panel">
            <div class="titles">
                <div class="title">1</div>
                <div class="title">2</div>
                <div class="title">3</div>
                <div class="title">4</div>
                <div class="title">5</div>
                <div class="title">6</div>
                <div class="title">7</div>
                <div class="title">8</div>
                <div class="title">9</div>
                <div class="title">10</div>
                <div class="title">&gt;10</div>
            </div>
        </div>
        <div class="manual_input">
            <input type="number" min="1" id="mixing_songs_counter_input" />
            <label for="mixing_songs_counter_input">Укажите вручную</label>
        </div>
    </div>
</div>

<div class="block_3d step3-mixing">
    <h1 class="tall">Сроки</h1>

    <p class="label">Как скоро Вам необходим результат?</p>
    <div class="slider urgency price_tracking" data-name="urgency">
    </div>

    <p class="align_left">
        <span class="checkbox gift_certificate price_tracking" data-name="gift_certificate">Оформить услугу в виде&nbsp</span><span><a href="/certificate/">подарочного сертификата</a></span>
    </p>
    <p class="align_left">
        <span class="checkbox delivery parent_hidden price_tracking" data-name="delivery">Нужна доставка</span>
    </p>
</div>

<div class="block_3d step4-mixing">
    <h1 class="tall">Скидка</h1>

    <p>
        <span class="checkbox vip price_tracking" data-name="vip">Есть карта VIP-клиента или скидочный купон?</span>
    </p>
</div>


<div class="block_3d step5-mixing">
    <h1>Примеры наших работ</h1>

    {% static_placeholder "example-mixing" %}
</div>