{% load cms_tags %}

<div class="block_3d step1-multitrack price_panel_min">
    <h1 class="tall">Многоканальная потрековая запись</h1>

    <p class="label">Как вы оцениваете уровень музыкантов группы?</p>
    <div class="slider play_level price_tracking" data-name="play_level">
        <div class="slider_panel">
            <div class="titles">
                <div class="title">Начинающие</div>
                <div class="title">Продвинутые любители</div>
                <div class="title">Профессионалы</div>
            </div>
        </div>
    </div>

    <p class="label">Какие основные инструменты будут учавствовать в записи?</p>

    <p class="help">
        Нажмите на иконки музыкальных инструментов для переноса в рабочую область.
        Указывайте только основные инструменты играющие на протяжении всей песни или солирующие инструменты.
        Например, барабаны, гитары, пианино, вокал, соло-гитара обычно являются основными инструментами.
        А, например, бубен, треугольник, короткий проигрыш гитарный и т.д. считаются «дополнительными» инструментами.
    </p>

    <div class="button_multiselect instruments_selector full_row price_tracking gap" data-name="instruments_selector">
        <p class="sub-header">Ваша группа</p>
    </div>

{#    <div class="show_more">#}
{#        <a href="#" class="open">Расширенные настройки</a>#}
{#        <div class="hidden_panel">#}
{#            #}
{#        </div>#}
{#    </div>#}

{#    <p class="label">Количество дополнительных инструментов</p>#}
{#    <div class="slider additional_instruments integer price_tracking" data-name="additional_instruments">#}
{#        <div class="slider_panel">#}
{#            <div class="titles">#}
{#                <div class="title">0</div>#}
{#                <div class="title">1</div>#}
{#                <div class="title">2</div>#}
{#                <div class="title">3</div>#}
{#                <div class="title">4</div>#}
{#                <div class="title">5</div>#}
{#                <div class="title">6</div>#}
{#                <div class="title">7</div>#}
{#                <div class="title">8</div>#}
{#                <div class="title">9</div>#}
{#                <div class="title">10</div>#}
{#                <div class="title">&gt;10</div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="manual_input tooltip" title="Если вы не уверены в том как заполнять данное поле, то оставьте это значение равным нулю.<br/>Наш звукорежиссер в любом случае вам подскажет что является дополнительным инструментом, а что нет.">#}
{#            <input type="number" min="0" id="additional_instruments_counter_input" />#}
{#            <label for="additional_instruments_counter_input">Укажите вручную</label>#}
{#        </div>#}
{#    </div>#}
    <p class="align_left">
        <span class="checkbox need_tuning price_tracking" data-name="need_tuning">Нужен тюн вокала</span>
    </p>
    <p class="align_left">
        <span class="checkbox selected need_mixing price_tracking" data-name="need_mixing">Нужно сведение и мастеринг</span>
    </p>
    <p class="align_left">
        <span class="checkbox need_drum_correction price_tracking" data-name="need_drum_correction">Нужно выравнивание барабанной партии</span>
    </p>
{#    <p class="align_left mixing_mode_wrapper">#}
{#        <label for="mixing_mode_input">Режим сведения</label>#}
{#        <select class="mixing_mode tooltip price_tracking" name="mixing_mode" id="mixing_mode_input" title="Стандарт - сведение выполняется звукорежиссером самостоятельно по присланным примерам и референсам. Предусмотрено не более 2-х итераций переделывания по замечаниям клиента.<br><br>#}
{#Премиум - сведение выполняется звукорежиссером совместо с клиентом на студии. Предусмотрено не более 2-х встреч на студии и не более 4-х итераций переделывания по замечаниям.">#}
{#            <option value="Стандарт">Стандарт</option>#}
{#            <option value="Премиум">Премиум</option>#}
{#        </select>#}
{#    </p>#}
</div>


<div class="block_3d step2-multitrack">
    <h1 class="tall">Количество песен</h1>

    <p class="label">Сколько песен вы планируете записать?</p>
    <div class="slider songs_counter integer price_tracking" data-name="songs_counter">
        <div class="slider_panel">
            <div class="titles">
                <div class="title">1</div>
                <div class="title">2</div>
                <div class="title">3</div>
                <div class="title">4</div>
                <div class="title">5</div>
                <div class="title">6</div>
                <div class="title">7</div>
                <div class="title">8</div>
                <div class="title">9</div>
                <div class="title">10</div>
                <div class="title">&gt;10</div>
            </div>
        </div>
        <div class="manual_input">
            <input type="number" min="1" id="multitrack_songs_counter_input" />
            <label for="multitrack_songs_counter_input">Укажите вручную</label>
        </div>
    </div>
</div>

<div class="block_3d step3-multitrack">
    <h1 class="tall">Сроки</h1>

    <p class="label">Как скоро Вам необходим результат?</p>
    <div class="slider urgency price_tracking" data-name="urgency">
    </div>

    <p class="align_left">
        <span class="checkbox gift_certificate price_tracking" data-name="gift_certificate">Оформить услугу в виде&nbsp</span><span><a href="/certificate/">подарочного сертификата</a></span>
    </p>
    <p class="align_left">
        <span class="checkbox delivery parent_hidden price_tracking" data-name="delivery">Нужна доставка</span>
    </p>
</div>

<div class="block_3d step4-multitrack">
    <h1 class="tall">Скидка</h1>

    <p>
        <span class="checkbox vip price_tracking" data-name="vip">Есть карта VIP-клиента или скидочный купон?</span>
    </p>
</div>

<div class="block_3d step5-multitrack">
    <h1>Примеры наших работ</h1>

    {% static_placeholder "example-multitrack" %}
</div>