<div class="block_3d step1-other price_panel_min">
    <h1 class="tall">Прочая услуга</h1>

    <p><label for="other_description">Расскажите, что бы Вы хотели сделать у нас на студии?</label></p>
    <div class="paragraph textarea">
        <textarea class="input_textarea price_tracking align_left" name="description" id="other_description"></textarea>
    </div>
</div>