{% load cms_tags %}

<div class="block_3d step1-produce price_panel_min">
    <h1 class="tall">Создание минусовки</h1>

    <p> Если Вы не смогли самостоятельно найти минусовку песни, то мы можем Вам помочь изготовить минус.
        Для этого необходимо определиться с необходимым уровнем качества, а так же дать
        нам ссылку на песню или указать автора и название.
    </p>
    <p><label for="produce_description">Минусовка какой песни вам необходима? Укажте, пожалуйста, автора и название или ссылку:</label></p>
    <div class="paragraph textarea">
        <textarea class="input_textarea price_tracking align_left" name="description" id="produce_description"></textarea>
    </div>

    <p>
        <label for="produce_music_type">Оригинал/Кавер-версия</label>
        <select class="music_type price_tracking" name="music_type" id="produce_music_type">
            <option value="Оригинал" selected>Оригинал</option>
            <option value="Кавер">Кавер-версия</option>
        </select>
    </p>

    <p>
        <label for="quality_input_produce">Качество</label>
        <select class="mixing_mode price_tracking" name="mixing_mode" id="quality_input_produce">
            <option value="Эконом">Эконом</option>
            <option value="Стандарт" selected>Стандарт</option>
            <option value="Премиум">Премиум</option>
        </select>
    </p>

    <p class="help">
        Вариант качества «Эконом» - звучание формата караоке, подойдёт для домашнего прослушивания
    </p>
    <p class="help">
        Вариант качества «Стандарт» - звучание высокого качества, подойдёт для большинства целей (выступления, запись альбома, интернет, подарок близкому человеку).
    </p>
    <p class="help">
        Вариант качества «Премиум» - звучание радио-формата
    </p>

</div>

<div class="block_3d step2-produce">
    <h1 class="tall">Количество песен</h1>

    <p class="label">Сколько песен Вы планируете записать?</p>
    <div class="slider songs_counter integer price_tracking" data-name="songs_counter">
        <div class="slider_panel">
            <div class="titles">
                <div class="title">1</div>
                <div class="title">2</div>
                <div class="title">3</div>
                <div class="title">4</div>
                <div class="title">5</div>
                <div class="title">6</div>
                <div class="title">7</div>
                <div class="title">8</div>
                <div class="title">9</div>
                <div class="title">10</div>
                <div class="title">&gt;10</div>
            </div>
        </div>
        <div class="manual_input">
            <input type="number" min="1" id="produce_songs_counter_input" />
            <label for="produce_songs_counter_input">Укажите вручную</label>
        </div>
    </div>
</div>

<div class="block_3d step3-produce">
    <h1 class="tall">Сроки</h1>

    <p class="label">Как скоро Вам необходим результат?</p>
    <div class="slider urgency price_tracking" data-name="urgency">
    </div>

    <p class="align_left">
        <span class="checkbox gift_certificate price_tracking" data-name="gift_certificate">Оформить услугу в виде&nbsp</span><span><a href="/certificate/">подарочного сертификата</a></span>
    </p>
    <p class="align_left">
        <span class="checkbox delivery parent_hidden price_tracking" data-name="delivery">Нужна доставка</span>
    </p>
</div>

<div class="block_3d step4-produce">
    <h1 class="tall">Скидка</h1>

    <p>
        <span class="checkbox vip price_tracking"  data-name="vip">Есть карта VIP-клиента или скидочный купон?</span>
    </p>
</div>

<div class="block_3d step5-produce example" data-mixing-mode="Стандарт">
    <h1>Примеры наших работ</h1>

    {% static_placeholder "example-produce-minus-standart" %}
</div>

<div class="block_3d step6-produce example" data-mixing-mode="Эконом">
    <h1>Примеры наших работ</h1>

    {% static_placeholder "example-produce-minus-econom" %}
</div>

<div class="block_3d step7-produce example" data-mixing-mode="Премиум">
    <h1>Примеры наших работ</h1>

    {% static_placeholder "example-produce-minus-premium" %}
</div>
