{% load cms_tags %}

<div class="block_3d step1-record price_panel_min">
    <h1 class="tall">Запись песни под минус</h1>

    <p class="label">На сколько хорошо Вы, на Ваш взгляд, поете?</p>
    <div class="slider play_level vocal_level price_tracking skip_reset" data-name="play_level">
        <div class="slider_panel">
            <div class="titles">
                <div class="title">Плохо</div>
                <div class="title">Средне</div>
                <div class="title">Хорошо</div>
                <div class="title">Отлично</div>
            </div>
        </div>
    </div>

    <p class="label">Сколько человек будет петь?</p>
    <div class="slider singers_counter integer price_tracking" data-name="singers_counter">
        <div class="slider_panel">
            <div class="titles">
                <div class="title">1</div>
                <div class="title">2</div>
                <div class="title">3</div>
                <div class="title">4</div>
                <div class="title">5</div>
                <div class="title">6</div>
                <div class="title">7</div>
                <div class="title">8</div>
                <div class="title">9</div>
                <div class="title">10</div>
                <div class="title">&gt;10</div>
            </div>
        </div>
        <div class="manual_input">
            <input type="number" min="1" id="singers_counter_input" />
            <label for="singers_counter_input">Укажите вручную</label>
        </div>
    </div>

{#    <div class="show_more">#}
{#        <a href="#" class="open">Расширенные настройки</a>#}
{#        <div class="hidden_panel">#}
{#            #}
{#        </div>#}
{#    </div>#}

    <p class="align_left"><span class="checkbox need_tuning price_tracking" data-name="need_tuning">Необходим тюн вокала (исправление нот)</span></p>
    <p class="align_left"><span class="checkbox selected need_mixing price_tracking" data-name="need_mixing">Необходимы сведение и мастеринг</span></p>
</div>


<div class="block_3d step2-record">
    <h1 class="tall">Количество песен</h1>

    <p class="label">Сколько песен Вы планируете записать?</p>
    <div class="slider songs_counter integer price_tracking" data-name="songs_counter">
        <div class="slider_panel">
            <div class="titles">
                <div class="title">1</div>
                <div class="title">2</div>
                <div class="title">3</div>
                <div class="title">4</div>
                <div class="title">5</div>
                <div class="title">6</div>
                <div class="title">7</div>
                <div class="title">8</div>
                <div class="title">9</div>
                <div class="title">10</div>
                <div class="title">&gt;10</div>
            </div>
        </div>
        <div class="manual_input">
            <input type="number" min="1" id="record_songs_counter_input" />
            <label for="record_songs_counter_input">Укажите вручную</label>
        </div>
    </div>
</div>

<div class="block_3d step3-record">
    <h1 class="tall">Сроки</h1>

    <p class="label">Как скоро Вам необходим результат?</p>
    <div class="slider urgency price_tracking" data-name="urgency">
    </div>

    <p class="align_left">
        <span class="checkbox gift_certificate price_tracking" data-name="gift_certificate">Оформить услугу в виде&nbsp</span><span><a href="/certificate/">подарочного сертификата</a></span>
    </p>
    <p class="align_left">
        <span class="checkbox delivery parent_hidden price_tracking" data-name="delivery">Нужна доставка</span>
    </p>
</div>

<div class="block_3d step4-record">
    <h1 class="tall">Скидка</h1>

    <p>
        <span class="checkbox vip price_tracking" data-name="vip">Есть карта VIP-клиента или скидочный купон?</span>
    </p>
</div>

<div class="block_3d step5-record">
    <h1>Примеры наших работ</h1>

    {% static_placeholder "example-record" %}
</div>