<div class="block_3d step1-rent price_panel_min">
    <h1 class="tall">Аренда студии</h1>

    <p><label for="rent_hours">На сколько часов вы хотите снять студию?</label></p>
    <p class="gap"><input type="number" min="1" value="3" id="rent_hours" name="rent_hours" class="input_integer price_tracking" /></p>

    <p><label for="rent_description">Для чего вы будете использовать студию?</label></p>
    <div class="paragraph textarea">
        <textarea class="input_textarea price_tracking align_left" name="description" id="rent_description"></textarea>
    </div>
</div>

<div class="block_3d step2-rent">
    <h1 class="tall">Скидка</h1>

    <p>
        <span class="checkbox gift_certificate price_tracking" data-name="gift_certificate">Оформить услугу в виде&nbsp</span><span><a href="/certificate/">подарочного сертификата</a></span>
    </p>
    <p>
        <span class="checkbox delivery parent_hidden price_tracking" data-name="delivery">Нужна доставка</span>
    </p>

    <p>
        <span class="checkbox vip price_tracking" data-name="vip">Есть карта VIP-клиента или скидочный купон?</span>
    </p>
</div>
