{% load cms_tags %}

<div class="block_3d step1-text price_panel_min">
    <h1 class="tall">Написание текста</h1>

    <p>
        Наши авторы-текстовики могут либо написать для Вас текст с нуля на заданную тематику,
        либо адаптировать/переделать существующий текст. Так же возможна адаптация и перевод англоязычных текстов.
    </p>

    <p>
        <label for="text_type">Написание текста:</label>
        <select class="text_type price_tracking" name="text_type" id="text_type">
            <option value="С нуля">С нуля</option>
            <option value="Адаптация существующего текста">Адаптация существующего текста</option>
        </select>
    </p>
</div>

<div class="block_3d step2-text">
    <h1 class="tall">Количество песен</h1>

    <p class="label">Сколько песен Вы планируете записать?</p>
    <div class="slider songs_counter integer price_tracking" data-name="songs_counter">
        <div class="slider_panel">
            <div class="titles">
                <div class="title">1</div>
                <div class="title">2</div>
                <div class="title">3</div>
                <div class="title">4</div>
                <div class="title">5</div>
                <div class="title">6</div>
                <div class="title">7</div>
                <div class="title">8</div>
                <div class="title">9</div>
                <div class="title">10</div>
                <div class="title">&gt;10</div>
            </div>
        </div>
        <div class="manual_input">
            <input type="number" min="1" id="text_songs_counter_input" />
            <label for="text_songs_counter_input">Укажите вручную</label>
        </div>
    </div>
</div>

<div class="block_3d step3-text">
    <h1 class="tall">Сроки</h1>

    <p class="label">Как скоро Вам необходим результат?</p>
    <div class="slider urgency price_tracking" data-name="urgency">
    </div>

    <p class="align_left">
        <span class="checkbox gift_certificate price_tracking" data-name="gift_certificate">Оформить услугу в виде&nbsp</span><span><a href="/certificate/">подарочного сертификата</a></span>
    </p>
    <p class="align_left">
        <span class="checkbox delivery price_tracking parent_hidden" data-name="delivery">Нужна доставка</span>
    </p>
</div>

<div class="block_3d step4-text">
    <h1 class="tall">Скидка</h1>

    <p>
        <span class="checkbox vip price_tracking" data-name="vip">Есть карта VIP-клиента или скидочный купон?</span>
    </p>
</div>