{% load cms_tags %}

<div class="block_3d step1-welldone price_panel_min">
    <h1 class="tall">Песня "под ключ"</h1>

    <p class="top">
        <span class="checkbox selected price_tracking" data-name="text_writing">Написание текста</span>
    </p>

    <p class="top">
        <span class="checkbox selected price_tracking music_writing" data-name="music_writing">Написание музыки</span>
    </p>

    <div class="music_options">
        <p>Необходимо определиться, Вас интересует живая аранжировка или электронная?</p>
        <div class="button_select arangement_type price_tracking" data-name="arangement_type">
        </div>
    </div>

    <p class="top_gap">
        <span class="checkbox selected price_tracking vocal_record" data-name="vocal_record">Запись вокала</span>
    </p>

    <p class="top">
        <span class="checkbox selected need_tuning price_tracking" data-name="need_tuning">Нужен тюн вокала</span>
    </p>

</div>

<div class="block_3d step2-welldone">
    <h1 class="tall">Количество песен</h1>

    <p class="label">Сколько песен вы планируете записать?</p>
    <div class="slider songs_counter integer price_tracking" data-name="songs_counter">
        <div class="slider_panel">
            <div class="titles">
                <div class="title">1</div>
                <div class="title">2</div>
                <div class="title">3</div>
                <div class="title">4</div>
                <div class="title">5</div>
                <div class="title">6</div>
                <div class="title">7</div>
                <div class="title">8</div>
                <div class="title">9</div>
                <div class="title">10</div>
                <div class="title">&gt;10</div>
            </div>
        </div>
        <div class="manual_input">
            <input type="number" min="1" id="welldone_songs_counter_input" />
            <label for="welldone_songs_counter_input">Укажите вручную</label>
        </div>
    </div>
</div>

<div class="block_3d step3-welldone">
    <h1 class="tall">Сроки</h1>

    <p class="label">Как скоро Вам необходим результат?</p>
    <div class="slider urgency price_tracking" data-name="urgency">
    </div>

    <p class="align_left">
        <span class="checkbox gift_certificate price_tracking" data-name="gift_certificate">Оформить услугу в виде&nbsp</span><span><a href="/certificate/">подарочного сертификата</a></span>
    </p>
    <p class="align_left">
        <span class="checkbox delivery price_tracking parent_hidden" data-name="delivery">Нужна доставка</span>
    </p>
</div>

<div class="block_3d step4-welldone">
    <h1 class="tall">Скидка</h1>

    <p>
        <span class="checkbox vip price_tracking" data-name="vip">Есть карта VIP-клиента или скидочный купон?</span>
    </p>
</div>


<div class="block_3d step5-welldone">
    <h1>Примеры наших работ</h1>

    {% static_placeholder "example-welldone" %}
</div>