{% extends request.current_page.get_template %}
{% load sekizai_tags static assets %}

{% block content %}
    {{ block.super }}

    {% with soundcloud_widgeted=True %}
    <div id="calculator">
        <div class="block_3d step1">
            <h1>Давайте познакомимся! Кто Вы?</h1>
            <p>Выберите категорию клиента, к которой Вы могли бы себя отнести. Если не можете определиться, то выберите «Прочее» и отобразится полный спектр услуг нашей студии звукозаписи</p>
            <div class="button_select step1_selector">
                <script type="text/plain" class="template">
                {% include "calculator/widgets/step1_selector.html" %}
                </script>
            </div>
        </div>

        <div class="block_3d step2">
            <h1>Какая услуга Вас интересует?</h1>
            <p>Выберите услугу. Если Вы не нашли необходимую Вам услугу в списке, то выберите «Прочее»</p>
            <div class="button_select step2_selector full_row iconed_buttons hoverable">
                <script type="text/plain" class="template">
                {% include "calculator/widgets/step2_selector.html" %}
                </script>
            </div>
        </div>

        {% include "calculator/services/record.html" %}
        {% include "calculator/services/multitrack.html" %}
        {% include "calculator/services/live.html" %}
        {% include "calculator/services/arangement.html" %}
        {% include "calculator/services/produce.html" %}
        {% include "calculator/services/text.html" %}
        {% include "calculator/services/mixing.html" %}
        {% include "calculator/services/rent.html" %}
        {% include "calculator/services/welldone.html" %}
        {% include "calculator/services/other.html" %}

        <div class="price_panel">
            <div class="price_panel_fixed">
                <div class="placeholder"></div>
                <div class="floater price_counter">
                    <div class="actual_price">
                        <div class="price_display">
                            <span class="price actual_price_display">0</span> руб
                        </div>
                    </div>
                    <div class="discount">
                        <div class="discount_display">
                            <p class="original"><span class="strike_diagonal"><span class="price original_price">0</span> руб</span></p>
                            <p class="discount_ammount">Скидка: <span class="discount_price"><span class="price discount_price_display">0</span> руб</span></p>
                        </div>
                    </div>
                    <div class="order">
                        <a class="order_button" href="#">оформить заказ</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal order_block block_3d">
            <h1>Оформление заказа</h1>

            <form class="order_form" action="{% url 'calculator_order' %}" method="post">
                {% csrf_token %}
                <div class="paragraph"><div class="column">
                        <label for="order_name">ФИО</label>
                        <input type="text" id="order_name" />
                    </div><div class="column">
                        <label for="order_phone">Телефон</label>
                        <input type="text" id="order_phone" />
                </div></div>

                <p class="paragraph">
                    <label for="order_email">Email</label>
                    <input type="email" id="order_email" />
                </p>

                <p class="address_wrapper">
                    <label for="order_address">Адрес</label>
                    <input type="text" id="order_address" />
                </p>

                <p class="order_p disabled">
                    <a class="order_button" href="#">Отправить</a>
                </p>

                <input type="submit" style="display:none" />
            </form>

            <div class="order_result">
                <p>Cформирован заказ №<span class="order_number"></span>.</p>
                <p>Спасибо за заказ! Мы Вам позвоним.</p>
            </div>
        </div>

        <script type="text/plain" class="js_template_data" id="checkbox_template">{% include "calculator/widgets/checkbox.html" %}</script>
        <script type="text/plain" class="js_template_data" id="multiselect_template">{% include "calculator/widgets/multiselect.html" %}</script>
        <script type="text/plain" class="js_template_data" id="urgency_template">{% include "calculator/widgets/urgency_slider.html" %}</script>
        <script type="text/plain" class="js_template_data" id="arangement_type">{% include "calculator/widgets/arangement_type.html" %}</script>

        <script type="text/plain" class="js_csv_data" data-id="client_service">{% include "calculator/data/clent-service.csv" %}</script>
        <script type="text/plain" class="js_csv_data" data-id="labor_costs">{% include "calculator/data/labor-costs.csv" %}</script>
        <script type="text/plain" class="js_csv_data" data-id="metadata">{% include "calculator/data/metadata.csv" %}</script>
        <script type="text/plain" class="js_csv_data" data-id="instrument_data">{% include "calculator/data/instrument-data.csv" %}</script>
        <script type="text/plain" class="js_csv_data" data-id="urgency_levels">{% include "calculator/data/urgency-levels.csv" %}</script>
    </div>
    {% endwith %}

    {% addtoblock "css" %}
        <link rel="stylesheet" type="text/css" href="{% static "calculator/css/calculator.css" %}" />
    {% endaddtoblock %}

    {% addtoblock "js" %}
        {% assets "calculator" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
    {% endaddtoblock %}
{% endblock %}