{% load cms_tags sekizai_tags menu_tags application_tags assets %}<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="{% page_attribute meta_description %}" />
{% if request.current_page.get_title_obj.keywordsextension.meta_keywords %}
    <meta name="keywords" content="{{ request.current_page.get_title_obj.keywordsextension.meta_keywords }}" />
{% endif %}

{#	<meta http-equiv="Cache-Control" content="public" />#}
{#	<meta http-equiv="Expires" content="Sun, 01 Jan 2017 07:01:00 GMT" />#}

    <meta name="google-site-verification" content="g1vUO4EMTctEtDwSSh4SbwiY8fLBa3DDHhXdP-hJc2M" />
    <meta name='yandex-verification' content='6210109a03d6102b' />
    <title>"Friday Records" - {% block title %}{% page_attribute page_title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}main/css/style.css?v=3" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ MEDIA_URL }}favicon.ico" />
    {% render_block "css" %}
    {% block head_add %}{% endblock %}
</head>

<body>
    <div id="fb-root"></div>
    {% cms_toolbar %}
    <div class="body_wrapper">
        <div id="header">
            <div class="logo">
                <a href="/"><img src="/media/img/logo.png" alt="Студия звукозаписи Friday Records" title="Студия звукозаписи Friday Records"></a>
            </div>
            <ul class="menu">
                {% show_menu 0 0 0 0 %}
            </ul>
            <div class="contacts2">
                {% static_placeholder "contacts" %}
            </div>
        </div>
{#        <div class="block_wrapper">#}
{#            <div class="head_block purple">#}
{#                <a href="/uslugi-i-ceny/vokalistam-i-ispolnitelyam/zapis-pesni-pod-minus/" class="linker">#}
{#                    <div class="head_block_header red">ЗАПИСЬ ПЕСНИ ПОД МИНУС</div>#}
{#                    <p class="text">запись вашего исполнения, тюнинг вокала и сведение с минусом</p>#}
{#                </a>#}
{#            </div>#}
{#            <div class="head_block purple">#}
{#                <a href="/uslugi-i-ceny/vokalistam-i-ispolnitelyam/sozdanie-minusa/" class="linker">#}
{#                    <div class="head_block_header red">СОЗДАНИЕ МИНУСА</div>#}
{#                    <p class="text">создание минуса (аранжировки) специально для вашей записи</p>#}
{#                </a>#}
{#            </div>#}
{#            <div class="head_block purple">#}
{#                <a href="/uslugi-i-ceny/vokalistam-i-ispolnitelyam/pesnya-v-podarok" class="linker">#}
{#                    <div class="head_block_header red">ПЕСНЯ ПОД КЛЮЧ</div>#}
{#                    <p class="text">написание текста, создание авторской аранжировки + запись и сведение</p>#}
{#                </a>#}
{#            </div>#}
{#            <div class="head_block light-orange">#}
{#                <a href="/uslugi-i-ceny/muzykantam-i-gruppam/zapis-studijnoj-kompozicii/" class="linker">#}
{#                    <div class="head_block_header orange">ЗАПИСЬ ГРУППЫ MULTITRACK</div>#}
{#                    <p class="text">макс. качественная многоканальная последовательная запись колектива</p>#}
{#                </a>#}
{#            </div>#}
{#            <div class="head_block light-orange">#}
{#                <a href="/uslugi-i-ceny/muzykantam-i-gruppam/zapis-kompozicii-live-studio" class="linker">#}
{#                    <div class="head_block_header orange">ЗАПИСЬ ГРУППЫ LIVEinSTUDIO</div>#}
{#                    <p class="text">многоканальная одновременная запись колектива (цена/качество)</p>#}
{#                </a>#}
{#            </div>#}
{#            <div class="head_block light-gray">#}
{#                <a href="/uslugi-i-ceny/uslugi-dlya-biznesa/dictorskaya-ozvuchka/" class="linker">#}
{#                    <div class="head_block_header gray">ДИКТОРСКОЕ ОЗВУЧИВАНИЕ</div>#}
{#                    <p class="text">запись рекламы, аудиокниг и т.д. самостоятельно или дикторами студии</p>#}
{#                </a>#}
{#            </div>#}
{#            <div class="head_block light-gray">#}
{#                <a href="/uslugi-i-ceny/uslugi-dlya-biznesa/pesnja-na-korporativ" class="linker">#}
{#                    <div class="head_block_header gray">КОРПОРАТИВНАЯ ПЕСНЯ</div>#}
{#                    <p class="text">песня под ключ специально для вашей компании или мероприятия</p>#}
{#                </a>#}
{#            </div>#}
{#            <div class="head_block purple">#}
{#                <a href="/certificate/" class="linker">#}
{#                    <div class="head_block_header red">ПОДАРОЧНЫЕ СЕРТИФИКАТЫ</div>#}
{#                    <p class="text">сертификаты на услуги студии звукозаписи с доставкой</p>#}
{#                </a>#}
{#            </div>#}
{#        </div>#}
        <div id="slider">
            <ul>
                <li data-pause="1000">{% sliders_block %}</li>
            </ul>
        </div>
        <div id="content">{% block content %}{% placeholder 'content' %}{% endblock %}</div>
        <div id="footer">
            <div id="footer_map"></div>
            <div class="arrow_down"></div>
            <div class="contacts">
                {% static_placeholder "footer_contacts" %}
            </div>
{#            {% application_form %}#}
            <div class="address">
                {% static_placeholder "footer_address" %}
            </div>
        </div>
    </div>

{#    <script>#}
{#        (function () {#}
{#            if(location.href == "/uslugi-i-ceny/vokalistam-i-ispolnitelyam/zapis-pesni-pod-minus/"){#}
{#                document.getElementsByClassName("head_block_header")[0].style.textDecoration = "underline";#}
{#            }#}
{#            else if (location.href == "/uslugi-i-ceny/vokalistam-i-ispolnitelyam/sozdanie-minusa/") {#}
{#                document.getElementsByClassName("head_block_header")[1].style.textDecoration = "underline";#}
{#            }#}
{#            else if (location.href == "/uslugi-i-ceny/vokalistam-i-ispolnitelyam/pesnya-v-podarok") {#}
{#                document.getElementsByClassName("head_block_header")[2].style.textDecoration = "underline";#}
{#            }#}
{#            else if (location.href == "/uslugi-i-ceny/muzykantam-i-gruppam/zapis-studijnoj-kompozicii/") {#}
{#                document.getElementsByClassName("head_block_header")[3].style.textDecoration = "underline";#}
{#            }#}
{#            else if (location.href == "/uslugi-i-ceny/muzykantam-i-gruppam/zapis-kompozicii-live-studio/") {#}
{#                document.getElementsByClassName("head_block_header")[4].style.textDecoration = "underline";#}
{#            }#}
{#            else if (location.href == "/uslugi-i-ceny/uslugi-dlya-biznesa/dictorskaya-ozvuchka/") {#}
{#                document.getElementsByClassName("head_block_header")[5].style.textDecoration = "underline";#}
{#            }#}
{#            else if (location.href == "/uslugi-i-ceny/uslugi-dlya-biznesa/pesnja-na-korporativ") {#}
{#                document.getElementsByClassName("head_block_header")[6].style.textDecoration = "underline";#}
{#            }#}
{#            else if (location.href == "/certificate/") {#}
{#                document.getElementsByClassName("head_block_header")[7].style.textDecoration = "underline";#}
{#            }#}
{#        })();#}
{#    </script>#}

    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

    {% if not debug %}
{#  <div class="pluso"#}
{#         style="display: table;"#}
{#         data-background="transparent"#}
{#         data-options="big,round,line,horizontal,nocounter,theme=04"#}
{#         data-services="vkontakte,odnoklassniki,facebook,twitter,google,linkedin,livejournal,moimir"#}
{#         data-url="http://www.friday-records.ru/"#}
{#         data-title="Студия звукозаписи Friday Records">#}
{#    </div>#}
{##}
{#    <div id="vk">#}
{#        <div id="smm">#}
{#            <div id="vk_groups"></div>#}
{#            <div id="vk_comments"></div>#}
{#        </div>#}
{#        <div id="smm">#}
{#            <div class="fb-page" data-href="https://www.facebook.com/fridayrecords.moscow" data-width="400" data-height="916" data-small-header="true" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true" data-show-posts="true">#}
{#                <div class="fb-xfbml-parse-ignore">#}
{#                    <blockquote cite="https://www.facebook.com/fridayrecords.moscow"><a href="https://www.facebook.com/fridayrecords.moscow">Friday Records - студия звукозаписи</a></blockquote>#}
{#                </div>#}
{#            </div>#}
{#            <div class="fb-comments" data-href="https://www.facebook.com/fridayrecords.moscow" data-width="400" data-numposts="5" data-mobile="0"></div>#}
{#        </div>#}
{#    </div>#}
{##}
{#    <script type="text/javascript" src="//vk.com/js/api/openapi.js?115"></script>#}
{#    <script type="text/javascript">#}
{#    VK.init({#}
{#        apiId: 4619615,#}
{#        onlyWidgets: true#}
{#    });#}
{#    </script>#}
{#    <script type="text/javascript">#}
{#    VK.Widgets.Group("vk_groups", {#}
{#        mode: 0,#}
{#        width: "400",#}
{#        height: "200",#}
{#        color1: 'FFFFFF',#}
{#        color2: '2B587A',#}
{#        color3: '5B7FA6'#}
{#    }, 65955603);#}
{#    </script>#}
{#    <script type="text/javascript">#}
{#    VK.Widgets.Comments("vk_comments", {#}
{#        limit: 10,#}
{#        width: "400",#}
{#        attach: "*",#}
{#        pageUrl: "http://friday-records.ru"#}
{#    });#}
{#    </script>#}

    <div id="counters" style="left:-9999px; display: none;">
        <!-- Код тега ремаркетинга Google -->
        <!--------------------------------------------------
				С помощью тега ремаркетинга запрещается собирать информацию, по которой можно идентифицировать личность пользователя. Также запрещается размещать тег на страницах с контентом деликатного характера. Подробнее об этих требованиях и о настройке тега читайте на странице http://google.com/ads/remarketingsetup.
		--------------------------------------------------->
        <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 958596755;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
        </script>
        <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
        </script>
        <noscript>
            <div style="display:inline;">
                <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/958596755/?value=0&amp;guid=ON&amp;script=0" />
            </div>
        </noscript>
        <!-- Yandex.Metrika informer -->
        <a href="https://metrika.yandex.ru/stat/?id=23926786&amp;from=informer" target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/23926786/2_0_FFFFFFFF_EFEFEFFF_0_pageviews" style="width:80px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры)" onclick="try{Ya.Metrika.informer({i:this,id:23926786,lang:'ru'});return false}catch(e){}" /></a>
        <!-- /Yandex.Metrika informer -->

        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
        (function(d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter23926786 = new Ya.Metrika({
                        id: 23926786,
                        webvisor: true,
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true
                    });
                } catch (e) {}
            });
            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function() {
                    n.parentNode.insertBefore(s, n);
                };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else {
                f();
            }
        })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript>
            <div><img src="//mc.yandex.ru/watch/23926786" style="position:absolute; left:-9999px;" alt="" /></div>
        </noscript>
        <!-- /Yandex.Metrika counter -->

        <!-- Google Analytics counter -->
        <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-62569522-1', 'auto');
        ga('send', 'pageview');
        </script>
        <!-- /Google Analytics counter -->

        <!-- begin of Top100 code -->
        <script id="top100Counter" type="text/javascript" src="http://counter.rambler.ru/top100.jcn?3105121"></script>

        <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.5";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        </script>
        <noscript>
            <a href="http://top100.rambler.ru/navi/3105121/">
                <img src="http://counter.rambler.ru/top100.cnt?3105121" alt="Rambler's Top100" border="0" style="width:80px; height:31px; border:0; display: none;" />
            </a>
        </noscript>
        <!-- end of Top100 code -->
    </div>

    <!-- RedConnect -->
    <script id="rhlpscrtg" type="text/javascript" charset="utf-8" async="async" src="https://web.redhelper.ru/service/main.js?c=fridayrecords"></script>
    <div style="display: none"><a class="rc-copyright" href="http://redconnect.ru">Сервис обратного звонка RedConnect</a></div>
    <!--/RedConnect -->

    {% endif %}

    {% assets "base" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% render_block "js" %}
</body>

</html>
