{% load application_tags salesblock_tags %}

<div class="salesblock_plugin">
    <h1>{{ instance.header }}</h1>
    <div class="content">
        {{ instance.content|safe }}
        {% if instance.is_special_offer %}
            {% event_counter instance %}
            <div class="price">{{ instance.price_special|price_beauty|safe }}</div>
            {% else %}
            <div class="price">{{ instance.price|price_beauty|safe }}</div>
        {% endif %}
    </div>

    {% application_form %}
</div>

