{% load sekizai_tags %}

{% addtoblock "js" %}
<script type="text/javascript">
    set_timer($('#timer_{{ instance.id }}'), {{ instance.date_to|date:'U' }});
</script>
{% endaddtoblock %}


<div id="timer_{{ instance.id }}" class="timer">
    <p class="help" style="text-transform: uppercase; padding: 0px 0px 0px 5px;">До пересмотра цен:</p>
    <div class="block days">
        <div class="value">{% for val in remainings.0 %}<span class="symbol_{{ forloop.counter0 }}">{{ val }}</span>{% endfor %}</div>
    </div>
    <div class="block hours">
        <div class="value">{% for val in remainings.1 %}<span class="symbol_{{ forloop.counter0 }}">{{ val }}</span>{% endfor %}</div>
    </div>:<div class="block minutes">
        <div class="value">{% for val in remainings.2 %}<span class="symbol_{{ forloop.counter0 }}">{{ val }}</span>{% endfor %}</div>
    </div>:<div class="block seconds" style="color:#e31e25;">
        <div class="value">{% for val in remainings.3 %}<span class="symbol_{{ forloop.counter0 }}">{{ val }}</span>{% endfor %}</div>
    </div>
</div>