{% load cms_tags thumbnail sekizai_tags %}

    <div class="news_plugin paginated_line">
    <h2>{{ instance.header }}</h2>

    <div class="wrapper">
        <div class="line">
            {% for article in articles %}
                {% if forloop.counter0|divisibleby:"2"%}
                    {% if not forloop.first %}
                    </div>
                    {% endif %}
                    <div class="row">
                {% endif %}

                <div class="block">
                    {% render_model_block article %}

                    {% if article.image %}
                    <div class="left"><img src="{% thumbnail article.image 175x145 crop upscale %}" alt="{{ article.header|safe }}" title="{{ article.header|safe }}" ></div>
                    {% endif %}
                    <div class="content">
                        <h4>{{ article.header|safe }}</h4>
                        <div class="anons">{{ article.anons|safe }}</div>
                        <p class="date">Опубликовано {{ article.date|date:"d F, Y" }}</p>
                    </div>

                    {% endrender_model_block %}
                </div>

                {% if forloop.last %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>