{% load placeholder_tags %}

{% for article in articles %}
<div class="column">
    <div class="header"><span class="where">{{ article.region }}</span><span class="date">{{ article.date }}</span></div>
    <div class="article">
        <div class="article_subwrapper">
            <h2><a href="{{ article.get_absolute_url }}">{{ article.header }}</a></h2>
            <div class="image">{% render_placeholder article.image %}</div>
            <div class="text">
                {% render_placeholder article.anons %}
            </div>
        </div>
    </div>
</div>
{% endfor %}

<p class="no_news">К сожалению, таких новостей нет.</p>