{% extends request.current_page.get_template %}
{% load placeholder_tags cms_tags news_tags %}

{% block content %}
{% with article_categories=article.categories.all %}
    <div class="content">
        <div id="article" class="main_content">
	        <div class="header"><span class="where">{{ article.where }}</span><span class="date">{{ article.date|date:"d F, Y" }}</span></div>
            <div class="content">
                <div class="image">{% render_placeholder article.image %}</div>
                <h1>{{ article.header|safe }}</h1>
                {% render_placeholder article.text %}
                {% block tags %}
                    {% if article_categories.count > 0 %}
                    <p>Теги:
                        {% for category in article_categories %}
                            <a href="{{ category.page.get_absolute_url }}">{{ category.page }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                    {% endif %}
                {% endblock %}
            </div>
        </div>
    </div>

    <div id="articles_archive" class="content three_columns newsstream_archive" data-article="{{ article.id }}">
        {% block form %}
        <div class="form">
            <p>
                <label for="news_region" id="label_news_region">Выбрать регион: </label>
                <select name="news_region" id="news_region">
                    <option value="all">Все регионы</option>
                    {% for region in regions %}
                    <option value="{{ region.id }}">{{ region.name }}</option>
                    {% endfor %}
                </select>
                <label for="news_when" id="label_news_when">Выбрать дату: </label>
                {{ date_widget }}
            </p>

            <p>
                <label for="news_category" id="label_news_category">Выбрать категорию: </label>
                <select name="news_category" id="news_category">
                    <option value="all">Все категории</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}" {% if category in article_categories %}selected{% endif %}>{{ category }}</option>
                    {% endfor %}
                </select>
                <a class="search_button" href="{% url "show_archive" %}">Искать</a>
            </p>
        </div>
        {% endblock %}
        <h1>Архив новостей</h1>
        <div class="article_previews">
            <div class="article_previews_wrapper">
                {% show_articles_list request articles %}
            </div>
        </div>
    </div>
{% endwith %}
{% endblock %}