<div class="article_rows_previews">
{% for article in articles %}
{% if not forloop.counter|divisibleby:2 %}
<div class="row">
{% endif %}
    <div class="category_article {% cycle "even" "odd" %}">
        <h2><a href="{{ article.article.get_absolute_url }}">{{ article.article.header|safe }}</a></h2>
        <div class="photo"><a href="{{ article.article.get_absolute_url }}">{{ article.photo|safe }}</a></div>
        <div class="text">
            {{ article.anons|safe }}
        </div>
    </div>
{% if forloop.counter|divisibleby:2 %}
</div>
{% endif %}
{% endfor %}
</div>