<div class="newsstream_block">
    <div class="newsstream_paginator"></div>


    <div class="newsstream content_block">
        <div class="newsstream_articles_wrapper">
    {% for article in articles %}
            <div class="newsstream_article" data-link="{{ article.article.get_absolute_url }}">
                <h2>{{ article.article.header|safe }}</h2>
                <div class="text actual_article_text">
                    {{ article.anons|safe }}
                </div>
            </div>
    {% endfor %}
        </div>

        <a href="/news/" class="news_archive">Архив новостей</a>
        <a href="" class="read_more">Читать полностью</a>
    </div>
</div>

