<a href="#" data-id="live-arangement" class="button iconed-button">
    <img src="{{ STATIC_URL }}calculator/img/instruments-icons/acoustic.png">
    <img src="{{ STATIC_URL }}calculator/img/instruments-icons/acoustic-selected.png" class="selected_img">
    <span class="bottom"><span class="title">Живая</span></span>
</a>

<a href="#" data-id="electro-arangement" class="button iconed-button">
    <img src="{{ STATIC_URL }}calculator/img/instruments-icons/electro.png">
    <img src="{{ STATIC_URL }}calculator/img/instruments-icons/electro-selected.png" class="selected_img">
    <span class="bottom"><span class="title">Электронная</span></span>
</a>