{% verbatim %}
<div class="button_select iconed_buttons">
    <div class="scroll_panel source">
        <div class="arrow left_arrow"></div>
        <div class="arrow right_arrow"></div>

        <div class="viewport_wrapper">
            <div class="viewport">
                <div class="scroll_zone">
                   {{#each this.titles}}
                   <a href="#" data-id="{{this.title}}" class="button iconed-button">
                        <img src="{% endverbatim %}{{ STATIC_URL }}{% verbatim %}calculator/img/instruments-icons/{{this.id}}.png" />
                        <img src="{% endverbatim %}{{ STATIC_URL }}{% verbatim %}calculator/img/instruments-icons/{{this.id}}-selected.png" class="selected_img" />
                        <span class="bottom"><span class="title">{{this.title}}</span></span>
                    </a>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="scroller"><div class="dragger"></div></div>
    </div>
</div>

<p class="label sub-header">{{this.sub_header}}</p>

<div class="button_select iconed_buttons selected_buttons">
    <div class="scroll_panel target">
        <div class="arrow left_arrow"></div>
        <div class="arrow right_arrow"></div>

        <div class="viewport_wrapper">
            <div class="viewport">
                <div class="scroll_zone">
                </div>
                <div class="empty_message">
                    <p>Добавьте сюда инструменты</p>
                </div>
            </div>
        </div>

        <div class="scroller"><div class="dragger"></div></div>
    </div>
</div>
{% endverbatim %}