{% verbatim %}
<div class="scroll_panel">
    <div class="arrow left_arrow"></div>
    <div class="arrow right_arrow"></div>

    <div class="viewport_wrapper">
        <div class="viewport">
            <div class="scroll_zone">
               {{#each this}}
               {{#if this.description}}
               <a href="#" data-id="{{this.id}}" class="button iconed-button tooltip" title="{{this.description}}">
               {{else}}
               <a href="#" data-id="{{this.id}}" class="button iconed-button">
               {{/if}}
                    <img src="{% endverbatim %}{{ STATIC_URL }}{% verbatim %}calculator/img/service-icons/{{this.id}}.png" />
                    <img src="{% endverbatim %}{{ STATIC_URL }}{% verbatim %}calculator/img/service-icons/{{this.id}}-selected.png" class="selected_img" />
                    <span class="bottom"><span class="title">{{this.title}}</span></span>
                </a>
                {{/each}}
            </div>
        </div>
    </div>

    <div class="scroller"><div class="dragger"></div></div>
</div>
{% endverbatim %}