{% verbatim %}
<div class="slider_panel">
    <div class="titles">
        {{#each this}}
        <div
            class="title"
            data-value="{{this.urgency}}"
            {{#if this.percent }}
                title="+{{this.percent}}% к стоимости"
            {{/if}}
        >{{this.title}}</div>
        {{/each}}
        </div>
    </div>
</div>
{% endverbatim %}