html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
border:0;
/*font-size:100%;*/
/*font:inherit;*/
vertical-align:baseline;
margin:0;
padding:0;
}

body {
    -webkit-text-size-adjust: none;
    font-family:arial, verdana, tahoma;
    font-size:15px;
    line-height:22px;
    color:#696969;
    background-image:url(/media/img/fon.jpg);
}

blockquote,q {
quotes:none;
}

blockquote:before,blockquote:after,q:before,q:after {
content:none;
}

table {
border-collapse:collapse;
border-spacing:0;
}

img[align=left],.align-left {
float:left;
margin:0 1em 1em 0;
}

img[align=right],.align-right {
float:right;
margin:0 0 1em 1em;
}

.align-center {
display:block;
text-align:center;
}

b,strong {
font-weight:700;
color:#888;
}

i,em {
font-style:italic;
}

u {
text-decoration:underline;
}

a {
color:#ffa813;
text-decoration:none;
}

.clear {
clear:both;
}

h1,h1 a {
font-size:1.4em;
color:#000;
text-align:center;
text-transform:uppercase;
font-weight:700;
margin:0 0 20px 20px;
}

h2,h2 a {
font-size:1.4em;
color:#000;
text-align:center;
text-transform:uppercase;
margin:20px 0;
}

.infotext p {
margin-top:6px;
margin-bottom:6px;
text-indent:2em;
font-size:1em;
}

.member {
width:120px;
height:390px;
display:inline-table;
padding:5px;
margin:0px;
}

.member:hover {
background-color:#f5f5f5;
}

.member .member_name {
color:#000;
font-size:1.2em;
line-height:1.2em;
padding-top:5px;
text-transform:uppercase;
margin:0;
}

.member .member_job {
line-height:1.2em;
padding-top:5px;
font-weight:700;
color:#A5A5A5;
margin:0;
}

.member .member_desc {
color:#8A8A8A;
font-size:.8em;
line-height:1.4em;
padding-top:5px;
margin:0;
}

#submenu .certificate {
margin-top:10px;
width:130px;
height:30px;
line-height:1.3em;
font-size:.8em;
color:#ffa813;
text-transform:uppercase;
font-weight:700;
text-align:center;
padding:6px 5px 5px 20px;
}

#footer .certificate {
color:#e31e25;
opacity:0;
}

#content .certificate {
color:#f5f5f5;
opacity:0;
}

#content .header2,#content .header1 {
display:none;
text-align:center;
}

.icon {
text-align:center;
position:relative;
}

.body_wrapper {
    width: 1023px;
    box-shadow: 0 0 130px rgb(0,0,0);

    background-color: #FFF;
    margin: 80px auto 0;
}

.body_wrapper.no_shadow {
    box-shadow: none;
}

#header {
overflow:hidden;
background-color:#FFF;
height:80px;
width:1023px;
display:table;
position:fixed;
top:0;
z-index:9999;
}

html.cms-toolbar-expanded #header {
    position: static;
}

html.cms-toolbar-expanded .body_wrapper {
    margin-top: 0;
}

.logo {
float:left;
padding:10px 15px 5px 11px;
}

.menu {
float:left;
font-size:.9em;
}

.menu li {
display:table-cell;
width:120px;
text-align:center;
vertical-align:middle;
padding:32px 7px 0 0;
}

.menu a {
font-family:sans-serif;
font-size:1.2em;
font-weight:lighter;
text-decoration:none;
text-transform:uppercase;
color:#000;
}

.menu a.calendar,.menu a.calendar:hover {
border:0;
position:relative;
top:16px;
}

.menu a:hover,.menu .selected a,.menu .ancestor a {
color:#e31e25;
border-bottom:2px solid #e31e25;
}

#submenu {
background:url(/media/img/bg-submenu.jpg);
height:355px;
position:relative;
}

#submenu.uslugi-i-ceny {
background:url(/media/img/bg-submenu-uslugi-i-ceny.jpg);
}

#submenu.oborudovanie {
background:url(/media/img/bg-submenu-oborudovanie.jpg);
}

#submenu.kontakty {
background:url(/media/img/bg-submenu-kontakty.jpg);
}

#submenu.muzykantam-i-gruppam {
background:url(/media/img/bg-submenu-muzykantam-i-gruppam.jpg);
}

#submenu.zapis-studijnoj-kompozicii {
background:url(/media/img/bg-submenu-zapis-studijnoj-kompozicii.jpg);
}

#submenu.zapis-studijnogo-alboma {
background:url(/media/img/bg-submenu-zapis-studijnogo-alboma.jpg);
}

#submenu.zapis-kompozicii-live-studio {
background:url(/media/img/bg-submenu-zapis-kompozicii-live-studio.jpg);
}

#submenu.zapis-alboma-live-studio {
background:url(/media/img/bg-submenu-zapis-alboma-live-studio.jpg);
}

#submenu.vokalistam-i-ispolnitelyam {
background:url(/media/img/bg-submenu-vokalistam-i-ispolnitelyam.jpg);
}

#submenu.zapis-pesni-pod-minus {
background:url(/media/img/bg-submenu-zapis-pesni-pod-minus.jpg);
}

#submenu.zapis-pesni-pod-akkompanement {
background:url(/media/img/bg-submenu-zapis-pesni-pod-akkompanement.jpg);
}

#submenu.pesnya-v-podarok {
background:url(/media/img/bg-submenu-pesnya-v-podarok.jpg);
}

#submenu.uslugi-dlya-biznesa {
background:url(/media/img/bg-submenu-uslugi-dlja-biznesa.jpg);
}

#submenu.dictorskaya-ozvuchka {
background:url(/media/img/bg-submenu-dictors.jpg);
}

#submenu.cover {
background:url(/media/img/bg-submenu-cover.jpg);
}

#submenu.pesnja-na-korporativ {
background:url(/media/img/bg-submenu-pesnja-na-korporativ.jpg);
}

#submenu.sozdanie-minusa {
background:url(/media/img/bg-submenu-sozdanie-minusa.jpg);
}

#submenu.audio-oformlenie {
background:url(/media/img/bg-submenu-audio-oformlenie.jpg);
}

#submenu.certificate {
background:url(/media/img/bg-submenu-podarki-i-sertifikaty.jpg);
}

#submenu.kalkulator {
background:url(/media/img/bg-submenu-calculator.jpg);
}

#submenu .submenu_text {
position:absolute;
left:365px;
top:42px;
width:552px;
height:290px;
overflow:hidden;
color:#FFF;
text-align:justify;
}

#submenu .submenu_text strong {
color:#f5f5f5;
}

#submenu .submenu_text h1 {
color:#FFF;
text-align:center;
line-height:1.1;
margin:0 0 10px;
}

#submenu .submenu_text .salesblock_plugin h1 {
text-align:right;
font-weight:700;
}

#submenu .ask_question {
border-radius:5px;
position:absolute;
left:370px;
top:280px;
width:175px;
height:40px;
line-height:40px;
background:#e31e25;
color:#FFF;
text-align:center;
text-transform:uppercase;
font-size:12px;
font-weight:700;
}

.contacts2 {
font-size:1.15em;
text-align:right;
display:table-cell;
vertical-align:middle;
padding-right:20px;
}

#submenu .contacts {
position:absolute;
right:106px;
top:278px;
text-align:right;
font-weight:700;
color:#FFF;
width:140px;
padding:0;
}

#submenu .contacts .phone {
font-size:1.1em;
line-height:1em;
color:#FFF;
}

#submenu .contacts .email {
text-decoration:none;
font-size:.8em;
line-height:2.4em;
}

.submenu {
padding:40px 0 0 102px;
}

.submenu > li {
width:250px;
margin:0 0 7px;
}

.submenu > li > a {
font-size:14px;
display:block;
line-height:28px;
font-weight:700;
background:#414141 url(/media/img/icon-right-arrow.png) 227px 5px no-repeat;
padding:0 0 0 10px;
}

.submenu > li > ul {
margin:5px 0 0;
}

.submenu > li > ul > li {
line-height:26px;
font-size:14px;
padding:0 0 0 10px;
}

.submenu a {
color:#FFF;
}

.price-table td {
color:#000;
vertical-align:center;
border:1px solid #d5d5d5;
padding:5px;
}

.price-table strong {
font-size:1.2em;
color:#000;
font-weight:700;
}

#content {
z-index:3;
position:relative;
padding:20px 0 0;
}

#content li {
list-style:disc;
padding:0;
}

#content .gallery_plugin li {
list-style:none;
padding:0 0 1em;
}

#content ul {
padding:0 0 0 5em;
}

.hr,.audio,.text,.audio_plugin,.gallery_plugin.teaser,.gray_arrowed,.videoblockcategory_plugin {
margin:0 0 30px;
padding:0 95px;
}

.hr,.text {
padding-bottom:1em;
}

.hr {
border-top:10px solid #f5f5f5;
padding-top:40px;
}

.gray_arrowed {
background:#f5f5f5 url(/media/img/bg-white-arrow-down.png) center top no-repeat;
padding-top:40px;
padding-bottom:40px;
position:relative;
font-size:100%;
}

.gray_arrowed:after {
content:' ';
background:#f5f5f5 url(/media/img/bg-white-arrow-up.png) center top no-repeat;
position:absolute;
bottom:0;
left:0;
right:0;
height:22px;
}

.paginated_line {
width:800px;
}

.paginated_line .line {
width:30000px;
}

.videoblockcategory_plugin.paginated_line .block {
padding-left:0;
}

.paginated_line .block {
overflow:hidden;
padding:15px 0 20px 105px;
}

.paginated_line .block h4 {
font-size:18px;
color:#e31e25;
line-height:18px;
padding:0 0 7px;
}

.videoblockcategory_plugin.paginated_line .block .left {
margin:0 2em 1em 0;
}

.paginated_line .block .content {
font-size:13px;
width:380px;
line-height:20px;
padding:0 0 0 215px;
}

.videoblockcategory_plugin.paginated_line .block .content {
width:auto;
padding:0;
}

.paginated_line .block .date {
font-style:italic;
padding:15px 0 0;
}

.paginated_line .paginator {
height:30px;
clear:both;
padding:0 0 0 300px;
}

.paginated_line .paginator a {
width:18px;
height:30px;
border-radius:15px;
background:#e5e5e5;
color:silver;
display:inline-block;
line-height:30px;
transition:all 300ms;
margin:0 20px 0 0;
padding:0 0 0 12px;
}

.paginated_line .paginator a:hover {
background:#FF0;
color:#FFF;
}

.paginated_line .paginator a.active {
color:#FFF;
background:#ffa813;
cursor:default;
}

.gallery_plugin.teaser {
background:#f5f5f5;
}

.gallery_plugin.default {
margin:0 0 30px;
}

.gallery_plugin.teaser .gallery_plugin_wrapper {
background:url(/media/img/bg-white-arrow-down.png) center top no-repeat;
padding:33px 0;
}

.gallery_plugin .image {
float:left;
margin:0 0 0 20px;
}

.gallery_plugin a {
border:1px solid #696969;
display:block;
width:150px;
height:100px;
}

.iconblock_plugin {
background:#FFF;
padding:10px 0;
}

.iconblock_plugin a {
color:#000;
font-weight:700;
}

.iconblock_plugin .row {
overflow:hidden;
border-bottom:1px #ebebeb solid;
}

.iconblock_plugin .row:last-of-type {
border-bottom:0;
}

.iconblock_plugin .row .iconblock {
width:300px;
display:table-cell;
border-right:1px #dfdfdf solid;
text-align: center;
padding:10px 15px;
}

.iconblock_plugin .row .iconblock:last-of-type {
border-right:0;
}

.iconblock_plugin .row .iconblock .icon .active {
opacity:1;
position:absolute;
transition:all 300ms;
}

.iconblock_plugin .row .iconblock .icon .active:hover {
opacity:0;
}

.iconblock_plugin .row .iconblock .icon .passive {
opacity:0;
position:relative;
transition:all 300ms;
}

.iconblock_plugin .row .iconblock .icon .passive:hover {
opacity:1;
}

.iconblock_plugin .row .iconblock .header {
font-size:1em;
color:#000;
font-weight:700;
line-height:1.2;
text-transform:uppercase;
}

.iconblock_plugin .row .iconblock .text {
font-size:.9em;
line-height:18px;
margin:0;
padding:3px 0 0;
}

.iconblock_plugin .row .iconblock .text strong {
color:#757575;
}

.offerblockcategory_plugin.narrow .offerblock_plugin {
width:202px;
}

.offerblock_plugin {
vertical-align:top;
height:418px;
display:inline-block;
border:1px solid #DCDCDC;
width:210px;
background:#F8F8F8;
position:relative;
transition:all 300ms;
margin:0 0 0 -5px;
}

.offerblock_plugin .header {
font-size:19px;
height:46px;
line-height:46px;
color:#FFF;
overflow:hidden;
background:#b23a3e;
transition:all 300ms;
padding:8px 5px;
}

.offerblock_plugin:hover .header {
background:#e31e25;
}

.offerblock_plugin .header h4 {
vertical-align:middle;
display:inline-block;
line-height:23px;
font-size:100%;
}

.offerblock_plugin .price {
font-size:25px;
font-weight:700;
line-height:25px;
color:#000;
transition:all 300ms;
padding:8px 0;
}

.offerblock_plugin .units {
font-size:15px;
color:#000;
line-height:15px;
padding:0 0 20px;
}

.offerblock_plugin .content {
line-height:17px;
color:#000;
height:155px;
text-align:left;
background-color:#F1F1F1;
padding:5px;
}

.offerblock_plugin .content p {
font-size:14px;
}

.offerblock_plugin .consist-price {
display:inline-block;
height:120px;
text-align:left;
font-size:.85em;
color:grey;
}

.offerblock_plugin .consist {
height:140px;
display:inline-block;
text-align:right;
color:#000;
font-size:.85em;
}

.offerblock_plugin .gift h4 {
text-indent:-9999px;
background:url(/media/img/bg-offer-gift.png) no-repeat left;
height:30px;
width:180px;
margin:0 0 10px;
}

.offerblock_plugin .gift {
line-height:18px;
bottom:60px;
height:95px;
text-align:left;
font-size:14px;
padding:7px;
}

.offerblock_plugin .more {
position:absolute;
left:8px;
bottom:8px;
right:8px;
height:35px;
background:#e31e25;
}

.offerblock_plugin a {
width:100%;
line-height:35px;
text-decoration:none;
color:#FFF;
}

.offerblock_plugin .more:hover {
background:#ffa813;
}

.salesblock_plugin .content {
width:370px;
height:215px;
background:#FFF;
color:#696969;
position:relative;
padding:15px;
}

.salesblock_plugin .content > ul {
font-size:14px;
color:#000;
list-style:none;
padding:0 0 0 16px;
}

.salesblock_plugin .content > ul li {
position:relative;
text-align:left;
}

.salesblock_plugin .content > ul li:after {
content:'2714';
position:absolute;
top:-1px;
left:-20px;
}

.salesblock_plugin .timer,.gray_arrowed .timer {
position:absolute;
bottom:10px;
left:10px;
font-size:24px;
color:red;
}

.salesblock_plugin .timer .help,.gray_arrowed .timer .help {
font-size:14px;
color:#696969;
}

.salesblock_plugin .timer .block,.gray_arrowed .timer .block {
display:inline-block;
color:#000;
background:url(/media/img/timer_bg.png);
width:53px;
line-height:42px;
height:49px;
text-align:center;
padding:0;
}

.salesblock_plugin .timer .symbol_0,.gray_arrowed .timer .symbol_0 {
padding-right:3px;
}

.salesblock_plugin .timer .symbol_1,.gray_arrowed .timer .symbol_1 {
padding-left:3px;
}

.salesblock_plugin .content .price {
bottom:12px;
right:5px;
vertical-align:bottom;
position:absolute;
color:#e31e25;
font-weight:700;
font-size:14px;
}

.salesblock_plugin .content .price .part_3,.salesblock_plugin .content .price .part_2 {
font-size:260%;
}

.salesblock_plugin .content .price .part_1 {
font-size:200%;
}

.feedbacks_plugin .block .content {
width:590px;
padding:0;
}

.feedbacks_plugin .author {
background:#f5f5f5;
font-size:16px;
padding:5px 7px;
}

.feedbacks_plugin .message {
padding:5px 0 0;
}

.feedbacks_plugin .block .date {
font-style:italic;
padding:0;
}

.feedbacks_plugin.paginated_line .paginator {
text-align:center;
padding:0;
}

.feedbacks_plugin.paginated_line .paginator a {
text-align:left;
}

.feedbacks_plugin .add_button {
text-align:center;
padding:15px 0 0;
}

.feedbacks_plugin .add_button a {
font-size:1.3em;
border-bottom:1px dashed #cecece;
}

.feedbacks_plugin .feedbackform {
display:none;
width:362px;
margin:0 auto 30px;
padding:5px 0 0;
}

.feedbacks_plugin .feedbackform .required label {
font-weight:700;
}

.feedbacks_plugin .feedbackform input,.feedbacks_plugin .feedbackform textarea {
border:1px solid #696969;
background:#FFF;
border-radius:5px;
font-size:14px;
width:350px;
margin:0 0 2px;
padding:2px 5px;
}

.feedbacks_plugin .feedbackform input.submit {
box-sizing:content-box;
}

.feedbacks_plugin .errorlist,.feedbacks_plugin .errorlist li {
color:red;
float:right;
list-style:none!important;
margin:0;
padding:0!important;
}

.audiocategory_plugin h3 {
color:#ffa813;
font-size:18px;
text-align:left;
margin:10px 0 5px;
}

.audiocategory_plugin .header {
line-height:44px;
background:url(/media/img/icon-note.png) 30px 10px no-repeat;
padding:0 0 0 88px;
}

.audiocategory_plugin .active .header a {
color:#e31e25;
border-bottom-color:#e31e25;
}

.audiocategory_plugin .header a {
font-size:16px;
cursor:pointer;
color:#696969;
border-bottom:1px dashed #696969;
}

.audiocategory_plugin .audio_player {
height:0;
overflow:hidden;
}

.audiocategory_plugin .active .audio_player {
height:55px;
}

.sound_audio_plugin {
width:160px;
display:inline-block;
vertical-align:top;
margin:0 3px 18px;
}

.sound_audio_plugin h4 {
color:#ffa813;
text-align:center;
font-weight:700;
}

#footer {
border-top:10px solid #e31e25;
height:385px;
position:relative;
}

#footer .arrow_down {
background:url(/media/img/bg-red-arrow-down.png) no-repeat;
width:41px;
height:22px;
position:absolute;
top:-1px;
left:50%;
margin:0 0 0 -20px;
}

#footer_map {
height:385px;
}

#footer .contacts {
position:absolute;
width:232px;
left:88px;
top:66px;
height:185px;
background:#e31e25;
color:#FFF;
padding:18px 0 0 18px;
}

#footer .contacts .icons {
padding:13px 0 0;
}

#footer .contacts .icons a {
display:inline-block;
height:47px;
width:47px;
margin:0 5px 0 0;
}

#footer .contacts .icons a.mail {
background:url(/media/img/icon-mail.png) no-repeat;
}

#footer .contacts .icons a.google {
background:url(/media/img/icon-google.png) no-repeat;
}

#footer .contacts .icons a.youtube {
background:url(/media/img/icon-youtube.png) no-repeat;
}

#footer .contacts .icons a.skype {
background:url(/media/img/icon-skype.png) no-repeat;
}

#footer .contacts .call,#footer .contacts .write {
font-size:20px;
}

#footer .contacts .phone {
background:url(/media/img/icon-phone.png) no-repeat;
margin:12px 0 5px;
padding:0 0 0 50px;
}

#footer .contacts .phone p {
font-size:20px;
line-height:24px;
}

#footer .application_form {
position:absolute;
left:350px;
top:66px;
width:150px;
height:185px;
background:#e31e25;
color:#FFF;
padding:16px 0 0 16px;
}

#content .application_form input {
width:180px;
font-size:1.3em;
padding:5px;
}

#content .post2 {
background-color:#e31e25;
color:#FFF;
}

#content .header3 {
font-size:1.4em;
color:#e35e21;
margin:0 0 20px;
}

#submenu .application_form {
position:absolute;
right:0;
top:36px;
background:#d4d4d4;
color:#242424;
width:140px;
height:145px;
}

#submenu .application_form .success {
font-size:1.1em;
font-weight:700;
text-align:center;
padding:10px 5px;
}

#submenu .application_form .header {
text-align:center;
padding:6px 0 0;
}

.application_form .header {
font-size:1.2em;
margin:0 0 4px;
}

.application_form input {
width:125px;
border:0;
background:#FFF;
font-size:.7em;
margin:0 0 5px;
padding:2px 5px;
}

.application_form input.errors {
border:2px solid red;
padding-left:3px;
padding-right:3px;
}

#footer .application_form input.errors {
border-color:#000;
}

#submenu .application_form input {
width:118px;
padding-top:4px;
padding-bottom:4px;
margin:0 6px 5px;
}

#submenu .application_form .post1 {
width:128px;
background:#e31e26;
color:#FFF;
bottom:5px;
box-shadow:0 2px 1px #9e1419;
}

#footer .application_form .post1 {
background:transparent;
border-radius:0;
position:absolute;
width:135px;
bottom:13px;
font-size:20px;
line-height:22px;
text-align:center;
left:18px;
border-left:2px solid #FFF;
border-right:2px solid #FFF;
color:#FFF;
text-transform:lowercase;
}

#footer .address {
position:absolute;
left:88px;
top:280px;
width:430px;
height:65px;
background:#e31e25;
color:#FFF;
}

#footer .address .exclaim {
font-size:24px;
width:140px;
text-align:right;
line-height:65px;
float:left;
padding:0 15px 0 0;
}

#footer .address .street {
line-height:16px;
font-size:14px;
padding:18px 0 0;
}

#vk {
width:1023px;
text-align:center;
margin:20px auto;
}

#smm {
display:table-cell;
width:500px;
vertical-align:top;
}

#contacts_find_us {
text-align:center;
background:#e31e26;
font-size:13px;
color:#FFF;
width:680px;
}

#contacts_find_us img {
width:680px;
}

#contacts_find_us #pic {
height:480px;
}

#contacts p {
margin:10px 0;
}

.htmlblock_plugin.mode_1 .content h3 {
color:#5A5A5A;
font-size:1.4em;
text-align:center;
font-weight:700;
line-height:1.2em;
text-transform:uppercase;
margin:10px 0 20px;
}

.htmlblock_plugin.mode_2 .toggle .toggle-header {
color:#ffa813;
font-size:18px;
background:url(/media/img/icon-right-arrow.png) 10px 15px no-repeat;
padding:10px 0 10px 40px;
}

.htmlblock_plugin.mode_2 .toggle.active .toggle-header {
background:url(/media/img/icon-note.png) 0 10px no-repeat;
}

.htmlblock_plugin.mode_2 .toggle .toggle-content {
text-indent:2em;
font-size:1em;
display:none;
margin:0 0 0 40px;
}

.htmlblock_plugin.mode_3 .article .article-header {
color:#ffa813;
font-size:18px;
background:url(/media/img/icon-note.png) 0 10px no-repeat;
padding:10px 0 10px 40px;
}

.htmlblock_plugin.mode_3 .article .article-content {
font-size:14px;
display:block;
margin:0 0 0 40px;
}

.article h3 {
color:#000;
font-size:18px;
text-align:left;
margin:20px 0 5px;
}

.article h4 {
color:#000;
font-size:16px;
text-align:left;
margin:25px 0 5px;
}

.article p {
text-align:justify;
text-indent:1.5em;
margin:.5em 0;
}

.article .leftimg {
float:left;
margin:10px 10px 10px 0;
}

.article .rightimg {
float:right;
margin:10px 0 10px 10px;
}

.article .table {
display:table;
margin:20px 10px;
}

.article .tr {
display:table-row;
}

.article .td {
vertical-align:middle;
display:table-cell;
margin:5px;
}

.pluso {
text-align:center;
margin:20px auto;
}

.wall_post_text {
font-size:20px;
font-family:arial, verdana, tahoma;
}

.calculator {
z-index:0;
position:relative;
margin:-198px 0 0 -93px;
}

.gray_line {
background:#f5f5f5;
position:relative;
z-index:10;
height:50px;
}

.gray_block {
background:#f5f5f5;
position:relative;
z-index:0;
margin:0 0 30px;
padding:0 112px;
}

.all_text {
font-size:1em;
padding:10px;
}

.all_price {
font-size:1.3em;
font-weight:700;
width:100px;
padding:10px;
}

.block_wrapper {
display:table;
margin-top:80px;
padding:0;
}

.head_block {
color:#FFF;
border:1px solid #FFF;
display:table-cell;
width:127px;
}

.head_block .text {
line-height:1.1;
font-size:.8em;
margin:0;
padding:4px;
}

.head_block_header {
font-size:.9em;
line-height:1.3;
padding:4px;
}



#slider {
    position: relative;
}

.tabs-vert .tab-info {
color:#FCFCFC;
background-color:rgba(0,0,0,0.7);
position:absolute;
top:20px;
left:10px;
height:200px;
max-height:200px!important;
width:350px;
outline:none;
text-align:right;
padding:10px;
}

.topof-header {
text-transform:uppercase;
font-weight:700;
font-size:1.2em;
text-align:right;
}

.topof-price {
font-size:1.3em;
color:#ffa813;
font-weight:700;
margin-top:5px;
text-align:right;
}

.topof-desc {
font-size:.9em;
margin-top:5px;
text-align:right;
}

.topof-link {
font-size:.9em;
margin-top:5px;
color:#ffa813;
text-align:right;
}

.topof-date {
font-size:.8em;
margin-top:10px;
color:#ccc;
text-align:right;
}

.tab-info a {
color:#FCFCFC;
text-decoration:none;
font-size:18px;
text-align:left;
}

/*.tabs-vert.is-active .tab-nav {*/
.tab-nav {
position:absolute;
top:20px;
right:10px;
z-index:5;
outline:none;
}

/*.tabs-vert.is-active .tab-nav-item {*/
.tab-nav-item {
list-style-type:none;
margin-bottom:5px;
}

#slider {
max-height:260px!important;
}

.slider-image {
    width: 1023px;
}

/*.tabs-vert.is-active .tab-nav-item a {*/
.tab-nav-item a {
text-decoration:none;
background-color:rgba(0,0,0,0.7);
color:#FCFCFC;
display:block;
text-align:right;
padding:5px 15px 5px 10px;
}

/*.tabs-vert.is-active .is-current-nav a {*/
.is-current-nav a {
background-color:rgba(187,111,3,0.7);
}

.tab-container {
height:260px;
}

.tab-container .tab-pane {
    display: none;
}

.tab-container .tab-pane:first-child {
    display: block;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,.feedbacks_plugin .feedbackform label,.htmlblock_plugin.mode_2 .toggle.active .toggle-content {
display:block;
}

ol,ul,.gallery_plugin li {
list-style:none;
}

a:hover,.submenu li.selected > a,.submenu a:hover,.price-table strong:hover,.block seconds {
/*color:#e31e25;*/
}

.infotext p:hover,.infotext li:hover,.member .member_desc:hover,.htmlblock_plugin.mode_1 .content h3:hover,.toggle-content p:hover,.all_tr:hover {
/*color:#000;*/
}

#submenu.roditelyam-i-detyam,#submenu.audio-slovar-rebyonka,#submenu.audio-skazki-golosom-mamypapy,#submenu.kolybelnye-golosom-mamypapy {
background:url(/media/img/bg-submenu-roditelyam-i-detyam.jpg);
}

.kalkulator ul,#footer .application_form .header2,#submenu .application_form .header1,#footer .application_form .post2,#submenu .application_form .post2,#content .application_form .post1 {
display:none;
}

.hr p,.text p,.paginated_line .paginator a:last-of-type,#contacts_find_us #line,#contacts_find_us #line p {
margin:0;
}

.paginated_line .wrapper,.gallery_plugin .images {
overflow:hidden;
}

.paginated_line .row,.paginated_line .block .left {
float:left;
}

.offerblocks_wrapper,#content .application_form,.article h2 {
text-align:center;
}

.offerblock_plugin:hover,.offerblock_plugin:hover .price {
background:#FFF;
}

#vk_post_-65955603_80 .body,#vk_post_-65955603_80 iframe {
color:red!important;
}

.audiocategory_plugin.mode_2,#contacts li {
padding:0;
}

#vk #vk_comments,#vk #vk_groups {
padding:0 0 0 87px;
}

.htmlblock_plugin.mode_2 .toggle .toggle-header a,.htmlblock_plugin.mode_3 .toggle .toggle-header a {
border-bottom:1px dashed #ffa813;
}

.htmlblock_plugin.mode_2 .toggle .toggle-header a:hover,.htmlblock_plugin.mode_3 .toggle .toggle-header a:hover {
border-bottom:1px dashed #e31e25;
}

.all,.all_tr {
border:1px solid #000;
}



/* From main page */

a.linker {
    color: #fff !important;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.active{
    color: #F8D8D8 !important;
    text-decoration: underline !important;
}

.red {
background-color:#e31e25;
}

.purple {
background-color:#FF606C;
}

.purple:hover {
background-color:#e31e25;
transition:all 300ms;
}

.orange {
background-color:#ffa813;
}

.light-orange {
background-color:#FFCA6C;
}

.light-orange:hover {
background-color:#ffa813;
transition:all 300ms;
}

.gray {
background-color:#B9B9B9;
}

.light-gray {
background-color:#D2D2D2;
}

.light-gray:hover {
background-color:#B9B9B9;
transition:all 300ms;
}