<h3 style="margin: 10px 0 5px 0"> Данные заказа </h3>
    <p style="margin: 0; text-indent: 10px"> Заказ №: {{ params.order_id }} </p>
    <p style="margin: 0; text-indent: 10px"> Дата: {{ params.order_added }}</p>

<h3 style="margin: 10px 0 5px 0"> Данные клиента </h3>
    <p style="margin: 0; text-indent: 10px"> Категория: {{ params.client  }} </p>
    <p style="margin: 0; text-indent: 10px"> Клиент: {{ params.order_name  }} </p>
    <p style="margin: 0; text-indent: 10px"> E-mail: {{ params.order_email }} </p>
    <p style="margin: 0; text-indent: 10px"> Телефон: {{ params.order_phone }} </p>

<h3 style="margin: 10px 0 5px 0"> Услуга "{{ params.service }}" </h3>
    <p style="margin: 0; text-indent: 10px"> Количество песен: {{ params.songs_counter }} </p>
    {% if params.service == 'Запись песни под минус' %}
        <p style="margin: 0; text-indent: 10px"> Уровень исполнения: {{ params.play_level }} </p>
        <p style="margin: 0; text-indent: 10px"> Количество вокалистов: {{ params.singers_counter }} </p>
        <p style="margin: 0; text-indent: 10px"> Нужно сведение: {% if params.need_mixing %} Да {% else %} Нет {% endif %} </p>
        <p style="margin: 0; text-indent: 10px"> Нужен тюн: {% if params.need_tuning %} Да {% else %} Нет {% endif %} </p>
    {% elif params.service == "Аранжировка" %}
        {% if params.arangement_type == "live-arangement"  %}
            <p style="margin: 0; text-indent: 10px"> Тип аранжировки: Живая</p>
            <p style="margin: 0; text-indent: 10px"> Инструменты: {{ params.instruments_selector }} </p>
        {% elif params.arangement_type == "electro-arangement" %}
            <p style="margin: 0; text-indent: 10px"> Тип аранжировки: Электронная</p>
            <p style="margin: 0; text-indent: 10px"> Качество: {{ params.mixing_mode }}</p>
        {% endif %}
    {% elif params.service == "Создание минусовки" %}
        <p style="margin: 0; text-indent: 10px"> Минусовка: {{ params.description }} </p>
        <p style="margin: 0; text-indent: 10px"> Оригинал/Кавер: {{ params.music_type }} </p>
        <p style="margin: 0; text-indent: 10px"> Качество: {{ params.mixing_mode }}</p>
    {% elif params.service == "Многоканальная запись" %}
        <p style="margin: 0; text-indent: 10px"> Уровень исполнения: {{ params.play_level }} </p>
        <p style="margin: 0; text-indent: 10px"> Инструменты: {{ params.instruments_selector }} </p>
        <p style="margin: 0; text-indent: 10px"> Нужен тюн вокала: {% if params.need_tuning %} Да {% else %} Нет {% endif %} </p>
        <p style="margin: 0; text-indent: 10px"> Нужно сведение и мастеринг: {% if params.need_mixing %} Да {% else %} Нет {% endif %} </p>
        <p style="margin: 0; text-indent: 10px"> Нужно выравнивание барабанной партии: {% if params.need_drum_correction %} Да {% else %} Нет {% endif %} </p>
    {% elif params.service == "Студийная запись (Live)" %}
        <p style="margin: 0; text-indent: 10px"> Уровень исполнения: {{ params.play_level }} </p>
        <p style="margin: 0; text-indent: 10px"> Инструменты (Live): {{ params.instruments_selector }} </p>
        <p style="margin: 0; text-indent: 10px"> Инструменты (Solo): {{ params.solo_instruments_selector }} </p>
        <p style="margin: 0; text-indent: 10px"> Нужен тюн вокала: {% if params.need_tuning %} Да {% else %} Нет {% endif %} </p>
        <p style="margin: 0; text-indent: 10px"> Нужно сведение и мастеринг: {% if params.need_mixing %} Да {% else %} Нет {% endif %} </p>
        <p style="margin: 0; text-indent: 10px"> Нужно выравнивание барабанной партии: {% if params.need_drum_correction %} Да {% else %} Нет {% endif %} </p>
    {% elif params.service == "Написание текста" %}
        <p style="margin: 0; text-indent: 10px"> Адаптация/С нуля: {{ params.text_type }} </p>
    {% elif params.service == "Сведение и мастеринг" %}
        <p style="margin: 0; text-indent: 10px"> Количество дорожек: {{ params.tracks_counter }}</p>
        <p style="margin: 0; text-indent: 10px"> Нужен тюн вокала: {% if params.need_tuning %} Да {% else %} Нет {% endif %} </p>
        <p style="margin: 0; text-indent: 10px"> Нужно сведение: {% if params.need_mixing %} Да {% else %} Нет {% endif %} </p>
        <p style="margin: 0; text-indent: 10px"> Нужен мастеринг: {% if params.need_mastering %} Да {% else %} Нет {% endif %} </p>
        <p style="margin: 0; text-indent: 10px"> Нужно выравнивание барабанной партии: {% if params.need_drum_correction %} Да {% else %} Нет {% endif %} </p>
    {% elif params.service == "Аренда" %}
        <p style="margin: 0; text-indent: 10px"> Количество часов: {{ params.rent_hours }}</p>
        <p style="margin: 0; text-indent: 10px"> Описание: {{ params.description }}</p>
    {% elif params.service == "Прочее" %}
        <p style="margin: 0; text-indent: 10px"> Описание: {{ params.description }}</p>
    {% else %}
         {% if params.arangement_type == "live-arangement"  %}
            <p style="margin: 0; text-indent: 10px"> Тип аранжировки: Живая</p>
        {% elif params.arangement_type == "electro-arangement" %}
            <p style="margin: 0; text-indent: 10px"> Тип аранжировки: Электронная</p>
        {% endif %}
         <p style="margin: 0; text-indent: 10px"> Нужно написание музыки: {% if params.music_writing %} Да {% else %} Нет {% endif %} </p>
         <p style="margin: 0; text-indent: 10px"> Нужно написание текста: {% if params.text_writing %} Да {% else %} Нет {% endif %} </p>
         <p style="margin: 0; text-indent: 10px"> Нужна запись вокала: {% if params.vocal_record %} Да {% else %} Нет {% endif %} </p>
         <p style="margin: 0; text-indent: 10px"> Нужен тюн вокала: {% if params.need_tuning %} Да {% else %} Нет {% endif %} </p>
    {% endif %}

<h3 style="margin: 10px 0 5px 0"> Расчет </h3>
    <p style="margin: 0; text-indent: 10px"> Стоимость: {{ params.base_price }} руб. </p>
    <p style="margin: 0; text-indent: 30px"> Оплата звукорежиссеру: {{ params.employee_price }} руб. </p>
    <p style="margin: 0; text-indent: 30px"> Оплата подрядчикам: {{ params.contractor_price }} руб. </p>
    <p style="margin: 0; text-indent: 30px"> Налог: {{ params.tax_price }} руб. </p>
    <p style="margin: 0; text-indent: 30px"> Менеджерские: {{ params.manager_price }} руб. </p>
    <p style="margin: 0; text-indent: 30px"> Доход студии: {{ params.profit_price }} руб. </p>
    <p style="margin: 0; text-indent: 10px"> Времени на запись (часов): {{ params.record_time }} </p>
    <p style="margin: 0; text-indent: 10px"> Времени на сведение (часов): {{ params.mixing_time }} </p>

{% if params.urgency_text %}
<h3 style="margin: 10px 0 5px 0"> Срочность </h3>
<p style="margin: 0; text-indent: 10px">{{ params.urgency_text }} (Наценка {{ params.urgency_percent }}%)</p>
{% endif %}

{% if params.gift_certificate %}
<h3 style="margin: 10px 0 5px 0"> Сертификат </h3>
    <p style="margin: 0; text-indent: 10px"> Доставка: {% if params.delivery %} Да {% else %} Нет {% endif %} </p>
    {% if params.delivery %}
        <p style="margin: 0; text-indent: 10px"> Адрес доставки: {{ params.order_address }} </p>
    {% endif %}
{% endif %}

<h3 style="margin: 10px 0 5px 0"> Скидка </h3>
    <p style="margin: 0; text-indent: 10px"> Есть карточка/купон (10%): {% if params.vip %} Да {% else %} Нет {% endif %} </p>
    <p style="margin: 0; text-indent: 10px"> Сумма скидки {{ params.discount }} руб. </p>