{% load cms_tags %}

<div class="audiocategory_plugin mode_{{ instance.mode }}">
    <h2>{{ instance.header }}</h2>
    {% for plugin in instance.child_plugin_instances %}
        {% render_plugin plugin %}
    {% endfor %}
</div>