{% load cms_tags sekizai_tags %}

{% addtoblock "js" %}<script type="text/javascript" src="/media/audiojs/audio.min.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}
<script>
audiojs.events.ready(function() {
    $(function() {
        var $wrappers = $('.audio_wrappers');
        $('.audio_player_wrapper').each(function () {
            var $wrapper = $(this),
                audiojs_instance = audiojs.create($wrapper.find('audio').get(0));

            $wrapper.data('audio_js', audiojs_instance);

            $wrapper.find('.header a').click(function () {
                var $player = $wrapper.find('.audio_player'),
                    $active_wrapper = $wrappers.find('.audio_player_wrapper.active'),
                    $active_player = $active_wrapper.find('.audio_player'),
                    is_closing = $wrapper.hasClass('active');

                if ($active_wrapper.length) {
                    $active_wrapper.removeClass('active');
                    $active_player.slideUp(300);
                    $active_wrapper.data('audio_js').pause();
                }

                if (!is_closing) {
                    $wrapper.addClass('active');
                    $player.slideDown(300);
                    audiojs_instance.play();
                }

                return false;
            });
        });
    });
});
</script>
{% endaddtoblock %}
{% addtoblock "css" %}<link rel="stylesheet" type="text/css" href="/media/css/audio.css" />{% endaddtoblock %}


<h3>{{ instance.header }}</h3>
<div class="audio_wrappers">
{% for audio in instance.audio_set.all %}
    <div class="audio_player_wrapper" id="wrapper_{{ insatance.id }}">
        <div class="header"><a href="#">{{ audio.header }}</a></div>
        <div class="audio_player">
            <audio src="{{ audio.audio_file.url }}" preload="auto" title="{{ audio.header }}" />
        </div>
    </div>
{% endfor %}

</div>
