{% load sekizai_tags thumbnail cms_tags %}


{% addtoblock "css" %}<link rel="stylesheet" type="text/css" href="/media/jplayer/css/jplayer.blue.monday.css" />{% endaddtoblock %}
{% addtoblock "css" %}<link rel="stylesheet" type="text/css" href="/media/jplayer/css/circle.player.css" />{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="/media/jplayer/jquery.jplayer.min.js"></script>{% endaddtoblock %}


{% addtoblock "js" %}
<script type='text/javascript'>
    $(document).ready(function(){
        $('.jp-jplayer').each(function() {
            var $jplayer = $(this);
            $jplayer.jPlayer({
                ready: function () {
                    $jplayer.jPlayer('setMedia', {
                        mp3: $jplayer.data('mp3')
                    });
                },
                play: function() {
                    $jplayer.jPlayer('pauseOthers');
                },
                swfPath: '/media/jplayer/',
                solution: 'flash',
                supplied: 'oga, m4a, mp3',
                cssSelectorAncestor: $jplayer.data('container'),
                wmode: 'window'
            });
        });
    });
</script>
{% endaddtoblock %}

<div class="sound_audio_plugin">
    <h4>{{ instance.header }}</h4>

    {% if instance.image %}<img src="{% thumbnail instance.image 162x122 crop upscale %}" alt="{{ instance.header }}">{% endif %}

    {% for audio in instance.audio_set.all %}
        {% render_model_block audio %}
        <div id="line">{{ audio.header }}</div>
        <div id='jquery_jplayer_{{ audio.id }}' class='jp-jplayer' data-container="#jp_container_{{ audio.id }}" data-mp3="{{ audio.audio_file.url }}"></div>
            <div id='jp_container_{{ audio.id }}' class='jp-audio'><div class='jp-type-single'>
{#                <div class='jp-title'><ul><li>{{ audio.header }}</li></ul></div>#}
            <div class='jp-gui jp-interface'>
            <ul class='jp-controls'>
            <a href='javascript:;' class='jp-play' tabindex='1'>play</a>
            <a href='javascript:;' class='jp-pause' tabindex='1'>pause</a>
            <a href='javascript:;' class='jp-mute' tabindex='1' title='mute'>mute</a>
            <a href='javascript:;' class='jp-unmute' tabindex='1' title='unmute'>unmute</a>
            </ul><div class='jp-progress'><div class='wrap'><div class='jp-seek-bar' ><div class='jp-play-bar'></div></div></div>
            </div><div class='jp-volume-bar'><div class='jp-volume-bar-value'></div></div></div><div class='jp-no-solution'><span>Update Required</span>
            To play the media you will need to either update your browser to a recent version or update your <a href='http://get.adobe.com/flashplayer/' target='_blank'>Flash plugin</a>.
        </div></div></div>

        {% endrender_model_block %}
    {% endfor %}
</div>